Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

ci fix
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: none

Add license to files
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/test.go
Due: go-generate, go-test-ce, go-test-ee

[internal] fix LVG status updatein case of missed and not ready nodes
  images/sds-health-watcher-controller/pkg/controller/sds_infra_watcher.go
Due: go-generate, go-test-ce, go-test-ee

Update images/sds-health-watcher-controller/pkg/controller/sds_infra_watcher.go
  images/sds-health-watcher-controller/pkg/controller/sds_infra_watcher.go
Due: go-generate, go-test-ce, go-test-ee

Apply suggestions from code review
  images/sds-health-watcher-controller/pkg/controller/sds_infra_watcher.go
Due: go-generate, go-test-ce, go-test-ee

[internal] fix LVG status updatein case of missed and not ready nodes
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/sds-health-watcher-controller/pkg/controller/sds_infra_watcher.go
Due: go-generate, go-test-ce, go-test-ee

[internal] fix LVG status update in case of missed and not ready nodes (#161)
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/sds-health-watcher-controller/pkg/controller/sds_infra_watcher.go
Due: go-generate, go-test-ce, go-test-ee

add replicas
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/replica_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/replica_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

some fixes
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

mount points
  .werf/defines/image-mountpoints.tmpl
  .werf/images.yaml
  images/agent/mount-points.yaml
  images/agent/werf.inc.yaml
  images/sds-health-watcher-controller/mount-points.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/mount-points.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/mount-points.yaml
  images/webhooks/werf.inc.yaml
  tools/mounts/README.md
  tools/mounts/mountdir/.placeholder
  tools/mounts/mountfile
Due: none

mount points (#163)
  .werf/defines/image-mountpoints.tmpl
  .werf/images.yaml
  images/agent/mount-points.yaml
  images/agent/werf.inc.yaml
  images/sds-health-watcher-controller/mount-points.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/mount-points.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/mount-points.yaml
  images/webhooks/werf.inc.yaml
  tools/mounts/README.md
  tools/mounts/mountdir/.placeholder
  tools/mounts/mountfile
Due: none

[internal] update base images to v0.5.23
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/checks.yaml
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/sds-health-watcher-controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy

[internal] remove python hooks
  .werf/bundle.yaml
  .werf/python-deps.yaml
  werf.yaml
Due: none

[internal] update base images to v0.5.23
  images/agent/mount-points.yaml
  images/sds-health-watcher-controller/mount-points.yaml
Due: none

[internal] update base images to v0.5.23 (#164)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/checks.yaml
  .werf/bundle.yaml
  .werf/python-deps.yaml
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/agent/mount-points.yaml
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/mount-points.yaml
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
  werf.yaml
Due: go-mod-tidy

[internal] fix CVE
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/sds-health-watcher-controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy

[internal] fix CVE (#165)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/sds-health-watcher-controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy

[internal] fix CVE
  hooks/go/go.mod
  hooks/go/go.sum
Due: go-mod-tidy

[doc] add manual VG creation guide
  docs/USAGE.md
  docs/USAGE.ru.md
Due: none

fix cgroup mount error
  templates/agent/daemonset.yaml
  templates/sds-health-watcher-controller/deployment.yaml
Due: none

[internal] add sys fs cgroup mount for containerd v2 support
  templates/agent/daemonset.yaml
Due: none

[internal] add sys fs cgroup mount for containerd v2 support (#169)
  templates/agent/daemonset.yaml
Due: none

fix sys-fs-cgroup error
  templates/sds-health-watcher-controller/deployment.yaml
Due: none

[internal] Fix sys-fs-cgroup error (#170)
  templates/sds-health-watcher-controller/deployment.yaml
Due: none

[internal] add metrics
  images/agent/cmd/main.go
  templates/agent/service.yaml
  templates/agent/servicemonitor.yaml
Due: go-generate, go-test-ce, go-test-ee

[internal] add metrics
  templates/agent/service.yaml
Due: none

[internal] add metrics
  images/agent/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

[internal] add metrics
  images/agent/cmd/main.go
  lib/python/requirements.txt
  templates/agent/podmonitor.yaml
  templates/agent/service.yaml
Due: go-generate, go-test-ce, go-test-ee

[internal] add metrics
  templates/agent/podmonitor.yaml
Due: none

[internal] add metrics
  templates/agent/daemonset.yaml
Due: none

[internal] add release notes
  .werf/bundle.yaml
  docs/RELEASE_NOTES.md
  docs/RELEASE_NOTES.ru.md
  hack/generate_release_notes.py
Due: none
