Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

chore: add gitleaks config with allowlist for false positives
  .gitleaks.toml
Due: none

chore: replace .gitleaks.toml with minimal extend config for xxhash.h
  .gitleaks.toml
Due: none

docs: replace UUID examples with gitleaks stopword
  docs/LAYOUTS.md
  docs/LAYOUTS.ru.md
Due: none

chore: add gitleaks allowlist for images/*.patch files
  .gitleaks.toml
Due: none

chore: switch gitleaks to useDefault for GitHub Actions compatibility
  .gitleaks.toml
Due: none

chore: add remove-finalizers hook and update module-sdk to v0.7.0 (#198)
  .gitleaks.toml
  docs/LAYOUTS.md
  docs/LAYOUTS.ru.md
  hooks/go/030-remove-finalizers-on-module-delete/remove-finalizers-on-module-delete.go
  hooks/go/consts/consts.go
  hooks/go/go.mod
  hooks/go/go.sum
  hooks/go/main.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

changelog: v0.5.16 release
  CHANGELOG/v0.5.16.ru.yml
Due: none

Translate changelog v0.5.16 to English
  CHANGELOG/v0.5.16.yml
Due: none

added CI Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  .gitignore
  e2e/README.md
  e2e/docs/INTEGRATION_STORAGE_E2E.md
  e2e/go.mod
  e2e/go.sum
  e2e/manifests/rbac.yaml
  e2e/tests/block_device_discovery_suite_test.go
  e2e/tests/block_device_discovery_test.go
  e2e/tests/cluster_config.yml
  e2e/tests/helpers.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/sds_node_configurator_test.go
  temp/sds_node_configurator_test/cluster-state.json
  temp/sds_node_configurator_test/kubeconfig-10.10.10.7.yml
  temp/sds_node_configurator_test/kubeconfig-94.26.231.181.yml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

Update build_dev.yml
  .github/workflows/build_dev.yml
Due: none

fix go version Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/go.mod
  e2e/go.sum
Due: go-mod-tidy

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fix envs Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

try Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fx Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fix
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

feat: add automatic LVM VG/LV activation on agent startup and periodic scan
  images/agent/cmd/main.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/monitoring/monitoring.go
  images/agent/internal/scanner/scanner.go
  images/agent/internal/type.go
  images/agent/internal/utils/activation.go
  images/agent/internal/utils/activation_test.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
Due: go-generate, go-test-ce, go-test-ee

ашч Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fix
  .github/workflows/build_dev.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  .gitignore
Due: none

fix
  .github/workflows/build_dev.yml
  .github/workflows/trivy_image_check.yaml
Due: none

[scheduler-extender] Switch from useLinstor to newControlPlane setting
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
