Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

chore: remove lsblk remnants after udev/netlink transition
  images/agent/internal/const.go
  images/agent/internal/controller/bd/discoverer_test.go
  images/agent/internal/controller/bd/regression1_test.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
  images/agent/werf.inc.yaml
  templates/agent/daemonset.yaml
Due: go-generate, go-test-ce, go-test-ee

e2e: add virtualization module pre-wait and increase VM timeout
  .github/workflows/build_dev.yml
  e2e/tests/e2e_shared_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

e2e: reduce CI cluster to 1 master + 1 worker
  e2e/tests/cluster_config.yml
Due: none

Bump modules-actions from v9 to v12 (#219)
  .github/workflows/merge-and-release.yml
  .github/workflows/translate-changelog.yml
Due: none

chore: sync base-images v0.5.68, Go 1.25.9, lib-helm 1.71.8
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.7.tgz
  charts/deckhouse_lib_helm-1.71.8.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

internal(CI): fix CVE
  .github/workflows/go_checks.yaml
Due: none

internal(CI): fix CVE
  images/sds-utils-installer/go.mod
Due: go-mod-tidy

Sync base-images v0.5.68, Go 1.25.9, lib-helm 1.71.8 (#222)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/go_checks.yaml
  charts/deckhouse_lib_helm-1.71.7.tgz
  charts/deckhouse_lib_helm-1.71.8.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

fix
  images/controller/go.sum
Due: none

fix: read host mountinfo via /proc/1/mountinfo instead of /proc/self/mountinfo (#220)
  images/agent/internal/udev/device.go
  images/agent/internal/udev/mountinfo.go
  images/controller/go.sum
Due: go-generate, go-test-ce, go-test-ee

udev: remove unused sysfs readers, shorten package comments
  images/agent/internal/udev/device.go
  images/agent/internal/udev/mountinfo.go
  images/agent/internal/udev/scanner.go
Due: go-generate, go-test-ce, go-test-ee

udev: remove unused sysfs readers, shorten package comments (#224)
  images/agent/internal/udev/device.go
  images/agent/internal/udev/mountinfo.go
  images/agent/internal/udev/scanner.go
Due: go-generate, go-test-ce, go-test-ee

changelog: v0.6.0 release
  CHANGELOG/v0.6.0.ru.yml
Due: none

upd .gitignore
  .gitignore
Due: none

changelog: v0.6.0 release
  .github/workflows/go_checks.yaml
Due: none

[ci] Fix translate-changelog workflow: pass github_token
  .github/workflows/translate-changelog.yml
Due: none

[ci] Fix translate-changelog: disable persisted checkout credentials
  .github/workflows/translate-changelog.yml
Due: none

upd .gitignore
  images/agent/internal/udev/integration_test.go
  images/agent/internal/udev/scanner_test.go
Due: go-generate, go-test-ce, go-test-ee

[ci] Fix translate-changelog: pass PAT to checkout step
  .github/workflows/translate-changelog.yml
Due: none

[ci] Fix translate-changelog: use github.token instead of RELEASE_PAT
  .github/workflows/translate-changelog.yml
Due: none

Translate changelog v0.6.0 from ru to en
  CHANGELOG/v0.6.0.yml
Due: none

[ci] Fix translate-changelog: use RELEASE_PAT (regenerated)
  .github/workflows/translate-changelog.yml
Due: none

[ci] Switch translate-changelog to modules-actions@v13
  .github/workflows/translate-changelog.yml
Due: none

udev: align Device TYPE with lsblk get_type()
  images/agent/internal/udev/device.go
  images/agent/internal/udev/device_test.go
Due: go-generate, go-test-ce, go-test-ee

[ci] Switch merge-and-release to modules-actions@v13
  .github/workflows/merge-and-release.yml
Due: none

fix(agent): align udev model/serial/wwn with lsblk for stable BD identity
  images/agent/internal/udev/device.go
  images/agent/internal/udev/device_test.go
  images/agent/internal/udev/lsblk_strings.go
  images/agent/internal/udev/lsblk_strings_test.go
Due: go-generate, go-test-ce, go-test-ee

test: refactor AlignSizeToExtent tests for clarity
  images/agent/internal/controller/llv/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(agent): align udev model/serial/wwn with lsblk for stable BD identity (#228)
  images/agent/internal/udev/device.go
  images/agent/internal/udev/device_test.go
  images/agent/internal/udev/lsblk_strings.go
  images/agent/internal/udev/lsblk_strings_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  .gitignore
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/go.mod
  e2e/patches/storage-e2e-cleanup-vms-on-prepare-bootstrap-fail.patch
  e2e/patches/storage-e2e-reconnect-after-add-nodes.patch
  e2e/tests/e2e_shared_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/E2E_USAGE.md
  e2e/go.mod
  e2e/tests/cleanup_orphan_test.go
  e2e/tests/e2e_cluster_lock_test.go
  e2e/tests/sds_node_configurator_test.go
  temp/cleanup_orphan_test/cluster-state.json
  temp/cleanup_orphan_test/kubeconfig-10.10.10.7.yml
  temp/cleanup_orphan_test/kubeconfig-94.26.231.181.yml
  temp/sds_node_configurator_test/kubeconfig-94.26.231.181.yml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee
