Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

Fix build
  images/drbd-resource-sync/cmd/main.go
  images/drbd-resource-sync/config/config.go
  images/drbd-resource-sync/crd_sync/drbd_cluster.go
  images/drbd-resource-sync/go.mod
  images/drbd-resource-sync/go.sum
  images/drbd-resource-sync/pkg/kubeutils/kubernetes.go
  images/drbd-resource-sync/src/Dockerfile
  images/drbd-resource-sync/werf.inc.yaml
  images/webhooks/werf.inc.yaml
  images/werf.inc.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

removed drbd syncer
  images/drbd-resource-sync/cmd/main.go
  images/drbd-resource-sync/config/config.go
  images/drbd-resource-sync/crd_sync/drbd_cluster.go
  images/drbd-resource-sync/go.mod
  images/drbd-resource-sync/go.sum
  images/drbd-resource-sync/pkg/kubeutils/kubernetes.go
  images/drbd-resource-sync/werf.inc.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

return nil
  images/drbd-resource-sync/crd_sync/drbd_cluster.go
Due: go-generate, go-test-ce, go-test-ee

add drbd cluster syncer
  images/drbd-cluster-sync/src/Dockerfile
  images/drbd-cluster-sync/src/cmd/main.go
  images/drbd-cluster-sync/src/config/config.go
  images/drbd-cluster-sync/src/crd_sync/drbd_cluster.go
  images/drbd-cluster-sync/src/go.mod
  images/drbd-cluster-sync/src/go.sum
  images/drbd-cluster-sync/src/pkg/kubeutils/kubernetes.go
  images/drbd-cluster-sync/werf.inc.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

add score logic fix
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

Fix values_ee.yaml
  openapi/values.yaml
Due: none

Fix module version choose
  .werf/choose-edition.yaml
Due: none

Fix values_ee.yaml
  .werf/choose-edition.yaml
Due: none

add lapi to scheme
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

add kube-scheduler to deployment
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

Make it build:
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

add rbac
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

logging error fix
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

empty commit
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-generate, go-test-ce, go-test-ee

trigger for building
  .gitignore
Due: none

go mod tidy
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
Due: go-mod-tidy

remove quote
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
Due: none

ci fix
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: none

add more logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

fix name
  hooks/go/consts/consts.go
  templates/sds-common-scheduler-extender/deployment.yaml
  templates/sds-common-scheduler-extender/secret.yaml
Due: go-generate, go-test-ce, go-test-ee

add srv v2
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

fix
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

fix rbac
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

fix 2
  hooks/go/020-common-scheduler-extender-certs/common-scheduler-extender-certs.go
  hooks/go/consts/consts.go
Due: go-generate, go-test-ce, go-test-ee

fix LVGLayerResourceIDsWatcherName
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
Due: go-generate, go-test-ce, go-test-ee

filterSingleNodeSRV method logic update
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

Revert "add kube-scheduler to deployment"
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

empty commit
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-generate, go-test-ce, go-test-ee

minor dependency fix
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

add replicas
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/replica_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/replica_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

fromCacheVersion
  .gitignore
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: none

Add license to files
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/test.go
Due: go-generate, go-test-ce, go-test-ee

empry commit
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
