Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

refactor
  e2e/tests/netlink_discovery_test.go
  e2e/tests/utils/pod/filter.go
  e2e/tests/utils/pod/logs.go
  e2e/tests/utils/pod/query.go
Due: go-generate, go-test-ce, go-test-ee

ref
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): use environment variables for namespace and storage class in netlink discovery tests
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

refactor: fix review issues
  e2e/tests/netlink_discovery_test.go
  e2e/tests/utils/pod/filter.go
  e2e/tests/utils/pod/logs.go
  e2e/tests/utils/pod/query.go
Due: go-generate, go-test-ce, go-test-ee

fix(scheduler-extender): tolerate PVCs whose StorageClass does not exist
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

fix(scheduler-extender): louder diagnostics for dropped PVCs and direct unit coverage
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

log error
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

add skip to tests
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(scheduler-extender): tolerate PVCs whose StorageClass does not exist (#256)
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

[changelog] Add v0.6.3 release notes (RU)
  CHANGELOG/v0.6.3.ru.yml
Due: none

refactor
  e2e/tests/sds_node_configurator_helpers_cleanup_scheduler_test.go
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_helpers_core_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_virtualization_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

Split sds_node_configurator_test helpers into focused files (#259)
  e2e/tests/sds_node_configurator_helpers_cleanup_scheduler_test.go
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_helpers_core_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_virtualization_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(config): add configuration management with environment variable support
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/cfg/mode.go
  e2e/cfg/validation.go
  e2e/go.mod
  e2e/go.sum
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

[werf] Sync packages-proxies.tmpl with upstream Deckhouse
  .werf/defines/packages-proxies.tmpl
Due: none

[werf] Drop redundant apt-get update after alt packages proxy include
  images/agent/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
Due: none

chore: sync base-images v0.5.73, Go 1.25.9
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
Due: go-mod-tidy

feat(config): add configuration management with environment variable support (#257)
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/cfg/mode.go
  e2e/cfg/validation.go
  e2e/go.mod
  e2e/go.sum
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix(tests): temporarily disable SSH key retrieval and LSBLK execution
  e2e/go.mod
  e2e/go.sum
  e2e/tests/e2e_cluster_lock_test.go
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_virtualization_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.73, Go 1.25.9 (#261)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
Due: go-mod-tidy

[werf] Sync packages-proxies.tmpl with upstream Deckhouse (#260)
  .werf/defines/packages-proxies.tmpl
  images/agent/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
Due: none

[changelog] Add v0.6.4 release notes (RU)
  CHANGELOG/v0.6.4.ru.yml
Due: none

feat(config): enhance SSH configuration with jump host support and passphrase
  e2e/cfg/config.go
  e2e/go.mod
  e2e/go.sum
  e2e/tests/e2e_cluster_lock_test.go
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_helpers_virtualization_test.go
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

feat(config): enhance SSH configuration with jump host support and passphrase
  e2e/cfg/config.go
  e2e/go.mod
  e2e/go.sum
  e2e/tests/sds_node_configurator_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.74, Go 1.25.10
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

chore: sync base-images v0.5.74, Go 1.25.10 (#264)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

add skip on tests witch need to implement work with ssh
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

test cluster output
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

test config output
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: import yq from base_images instead of curl in release artifact
  .werf/release.yaml
Due: none

fix jump private key env
  .github/workflows/build_dev.yml
Due: none

return before suite
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: use alt packages proxy helper in .werf/bundle.yaml
  .werf/bundle.yaml
Due: none

chore: add pypi proxy helper and use it in .werf/bundle.yaml
  .werf/bundle.yaml
  .werf/defines/packages-proxies.tmpl
Due: none

add debug log
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
Due: go-generate, go-test-ce, go-test-ee

deb
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
Due: go-generate, go-test-ce, go-test-ee

ref
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

ref
  .github/workflows/build_dev.yml
Due: none
