Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

[internal] add release notes
  hack/README.md
Due: none

[internal] add release notes
  .werf/bundle.yaml
Due: none

[internal] fix release notes
  CHANGELOG/v0.5.7.ru.yml
  CHANGELOG/v0.5.7.yml
  CHANGELOG/v0.5.8.ru.yml
  CHANGELOG/v0.5.8.yml
Due: none

[internal] fix release notes (#173)
  CHANGELOG/v0.5.7.ru.yml
  CHANGELOG/v0.5.7.yml
  CHANGELOG/v0.5.8.ru.yml
  CHANGELOG/v0.5.8.yml
Due: none

testing dev build with e2e Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

Fix: update upload-artifact from v3 to v4
  .github/workflows/build_dev.yml
Due: none

fixes Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

ашч Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fix
  .github/workflows/build_dev.yml
Due: none

test Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

removed keepstate Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

[internal] add force lv activation
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

[internal] add force lv activation
  images/agent/internal/controller/llv/llvs_ee.go
  images/agent/internal/controller/llv/reconciler_ee.go
  images/agent/internal/controller/llvs/reconciler_ee.go
  images/agent/internal/utils/commands_ee.go
  images/agent/internal/utils/thin_dump_ee.go
  images/agent/internal/utils/thin_dump_ee_test.go
  images/agent/internal/utils/volume_cleanup_ee.go
  images/agent/internal/utils/volume_cleanup_ee_test.go
  release.yaml
  werf_cleanup.yaml
Due: go-generate, go-test-ce, go-test-ee

[internal] add force lv activation
  hack/increase_semver.sh
  images/agent/cmd/llvs_ee.go
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  lib/go/common/pkg/feature/const_ce.go
  lib/go/common/pkg/feature/const_csepro.go
  lib/go/common/pkg/feature/const_ee.go
  lib/go/common/pkg/feature/const_se.go
  lib/go/common/pkg/feature/const_seplus.go
Due: go-generate, go-test-ce, go-test-ee

[internal] add force lv activation
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
Due: none

[internal] add force lv activation
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/sds-health-watcher-controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy

[internal] add force lv activation
  CHANGELOG/v0.5.9.ru.yml
  CHANGELOG/v0.5.9.yml
Due: none

[internal] add force LVs activation (#175)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  CHANGELOG/v0.5.9.ru.yml
  CHANGELOG/v0.5.9.yml
  api/go.mod
  hack/increase_semver.sh
  hooks/go/go.mod
  images/agent/cmd/llvs_ee.go
  images/agent/go.mod
  images/agent/internal/controller/llv/llvs_ee.go
  images/agent/internal/controller/llv/reconciler_ee.go
  images/agent/internal/controller/llvs/reconciler_ee.go
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_ee.go
  images/agent/internal/utils/thin_dump_ee.go
  images/agent/internal/utils/thin_dump_ee_test.go
  images/agent/internal/utils/volume_cleanup_ee.go
  images/agent/internal/utils/volume_cleanup_ee_test.go
  images/sds-health-watcher-controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
  lib/go/common/pkg/feature/const_ce.go
  lib/go/common/pkg/feature/const_csepro.go
  lib/go/common/pkg/feature/const_ee.go
  lib/go/common/pkg/feature/const_se.go
  lib/go/common/pkg/feature/const_seplus.go
  release.yaml
  werf_cleanup.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

add sds-common-scheduler-extender template
  images/sds-common-scheduler-extender/src/cmd/access_log.go
  images/sds-common-scheduler-extender/src/cmd/main.go
  images/sds-common-scheduler-extender/src/go.mod
  images/sds-common-scheduler-extender/src/go.sum
  images/sds-common-scheduler-extender/src/pkg/cache/cache.go
  images/sds-common-scheduler-extender/src/pkg/cache/cache.md
  images/sds-common-scheduler-extender/src/pkg/cache/manager.go
  images/sds-common-scheduler-extender/src/pkg/consts/consts.go
  images/sds-common-scheduler-extender/src/pkg/controller/drbd_cluster_watcher.go
  images/sds-common-scheduler-extender/src/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/src/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/src/pkg/kubutils/kubernetes.go
  images/sds-common-scheduler-extender/src/pkg/logger/logger.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/filter_doc.md
  images/sds-common-scheduler-extender/src/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/prioritize_doc.md
  images/sds-common-scheduler-extender/src/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/route.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/types.go
  images/sds-common-scheduler-extender/src/pkg/test.go
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

add rbac
  images/sds-common-scheduler-extender/pkg/controller/drbd_cluster_watcher.go
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
