Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

remove jump host
  .github/workflows/build_dev.yml
  e2e/cfg/config.go
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

test
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.76, lib-helm 1.71.11
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.11.tgz
  charts/deckhouse_lib_helm-1.71.9.tgz
Due: none

chore: rewrite generate_release_notes in Go to drop python/pip dependency
  .werf/bundle.yaml
  hack/generate_release_notes
  hack/generate_release_notes.go
  hack/generate_release_notes.py
  hack/go.mod
  hack/go.sum
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.76, lib-helm 1.71.11 (#266)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.11.tgz
  charts/deckhouse_lib_helm-1.71.9.tgz
Due: none

chore: import yq from base_images instead of curl in release artifact (#265)
  .werf/bundle.yaml
  .werf/defines/packages-proxies.tmpl
  .werf/release.yaml
  hack/generate_release_notes
  hack/generate_release_notes.go
  hack/generate_release_notes.py
  hack/go.mod
  hack/go.sum
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

return
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

changelog: v0.6.5 release
  CHANGELOG/v0.6.5.ru.yml
Due: none

return fallback
  .github/workflows/build_dev.yml
Due: none

[controller] Fix LVMVolumeGroup spec.blockDeviceSelector update
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(lvg): actually persist Spec.BlockDeviceSelector update
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

fix
  .github/workflows/build_dev.yml
Due: none

chore(ci): use check_previous_channel_release action
  .github/check_previous_channel_release.sh
  .github/workflows/deploy_prod.yml
Due: none

fix cfg
  e2e/cfg/config.go
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
Due: go-generate, go-test-ce, go-test-ee

chore(ci): read previous channel from PROD_REGISTRY_READ
  .github/workflows/deploy_prod.yml
Due: none

remove debug func
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

Fix/storage e2e (#263)
  .github/workflows/build_dev.yml
  e2e/cfg/config.go
  e2e/go.mod
  e2e/go.sum
  e2e/tests/e2e_cluster_lock_test.go
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_virtualization_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

feat(tests): add netlink-driven BlockDevice discovery tests
  e2e/tests/netlink_discovery_test.go
  e2e/tests/utils/pod/pod.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): refine netlink BlockDevice discovery assertions
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

refactor
  e2e/tests/netlink_discovery_test.go
  e2e/tests/utils/pod/filter.go
  e2e/tests/utils/pod/logs.go
  e2e/tests/utils/pod/query.go
Due: go-generate, go-test-ce, go-test-ee

refactor: fix review issues
  e2e/tests/netlink_discovery_test.go
  e2e/tests/utils/pod/filter.go
  e2e/tests/utils/pod/logs.go
  e2e/tests/utils/pod/query.go
Due: go-generate, go-test-ce, go-test-ee

ref
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

add license
  e2e/tests/utils/pod/pod.go
Due: go-generate, go-test-ce, go-test-ee

add skip to tests
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

log error
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

rebase on main
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

Test(netlink add remove block device) (#255)
  e2e/tests/netlink_discovery_test.go
  e2e/tests/utils/pod/filter.go
  e2e/tests/utils/pod/logs.go
  e2e/tests/utils/pod/query.go
Due: go-generate, go-test-ce, go-test-ee

chore(ci): use check_previous_channel_release action (#268)
  .github/check_previous_channel_release.sh
  .github/workflows/deploy_prod.yml
Due: none

add test
  e2e/go.mod
  e2e/go.sum
  e2e/tests/block_device_stable_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/utils/consts/consts.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix
  e2e/tests/block_device_stable_test.go
Due: go-generate, go-test-ce, go-test-ee

rename and add only 1 test exec
  .github/workflows/build_dev.yml
  e2e/tests/block_device_stable_test.go
Due: go-generate, go-test-ce, go-test-ee

rename and add timeout to release cluster lock
  .github/workflows/build_dev.yml
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

add eventually
  e2e/tests/block_device_stable_test.go
Due: go-generate, go-test-ce, go-test-ee

add regress test
  e2e/cfg/config.go
  e2e/tests/block_device_stable_test.go
  e2e/tests/utils/consts/consts.go
Due: go-generate, go-test-ce, go-test-ee

Update default value for ModulesImageTag and enhance pull request test scenario
  e2e/cfg/config.go
  e2e/tests/block_device_stable_test.go
Due: go-generate, go-test-ce, go-test-ee

remove target test
  .github/workflows/build_dev.yml
Due: none

chore: unify .helmignore with storage modules baseline
  .helmignore
Due: none

chore: extend .helmignore with api, testing, and tools
  .helmignore
Due: none

chore: unify .helmignore (#270)
  .helmignore
Due: none

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
