Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

fix(CVE): fix CVE
  .github/workflows/go_checks.yaml
  hooks/go/go.mod
  hooks/go/go.sum
Due: go-mod-tidy

Sync base-images v0.5.64, Go 1.25.8, lib-helm 1.71.5 (#208)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/go_checks.yaml
  charts/deckhouse_lib_helm-1.70.1.tgz
  charts/deckhouse_lib_helm-1.71.5.tgz
  hooks/go/go.mod
  hooks/go/go.sum
  images/agent/go.mod
  images/controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

new cve scan
  .github/workflows/trivy_image_check.yaml
Due: none

internal(CI): fix CVE
  hooks/go/go.mod
  hooks/go/go.sum
Due: go-mod-tidy

chore: New cve scan (#202)
  .github/workflows/trivy_image_check.yaml
  hooks/go/go.mod
  hooks/go/go.sum
Due: go-mod-tidy

chore: sync base-images v0.5.65
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  hooks/go/go.mod
Due: go-mod-tidy

feat: enhance udev device type resolution and update tests for CD-ROM support
  images/agent/internal/udev/device.go
  images/agent/internal/udev/device_test.go
  images/agent/internal/udev/scanner_test.go
Due: go-generate, go-test-ce, go-test-ee

feat: implement udev device management with scanner and device map instead of lsblk
  images/agent/internal/scanner/scanner.go
  images/agent/internal/udev/device.go
  images/agent/internal/udev/device_test.go
  images/agent/internal/udev/integration_test.go
  images/agent/internal/udev/mountinfo.go
  images/agent/internal/udev/mountinfo_test.go
  images/agent/internal/udev/scanner.go
  images/agent/internal/udev/scanner_test.go
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

chore: update translate-changelog action to v12 and add GitHub token support
  .github/workflows/translate-changelog.yml
Due: none

chore: sync base-images v0.5.65, lib-helm 1.71.6
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.5.tgz
  charts/deckhouse_lib_helm-1.71.6.tgz
  hooks/go/go.mod
Due: go-mod-tidy

chore: sync base-images v0.5.65, lib-helm 1.71.6 (#211)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.5.tgz
  charts/deckhouse_lib_helm-1.71.6.tgz
  hooks/go/go.mod
Due: go-mod-tidy

chore: sync Go 1.25.8, lib-helm 1.71.7
  charts/deckhouse_lib_helm-1.71.6.tgz
  charts/deckhouse_lib_helm-1.71.7.tgz
  images/sds-common-scheduler-extender/go.mod
Due: go-mod-tidy

chore: sync Go 1.25.8, lib-helm 1.71.7 (#212)
  charts/deckhouse_lib_helm-1.71.6.tgz
  charts/deckhouse_lib_helm-1.71.7.tgz
  images/sds-common-scheduler-extender/go.mod
Due: go-mod-tidy

docs: add notice on sds-replicated-volume / sds-local-volume
  docs/README.md
  docs/README.ru.md
Due: none

docs: describe sharing LVM VG between SDS modules via thin pools
  docs/RESOURCES.md
  docs/RESOURCES.ru.md
Due: none

docs: note sds-replicated-volume / sds-local-volume for full operation (#213)
  docs/README.md
  docs/README.ru.md
  docs/RESOURCES.md
  docs/RESOURCES.ru.md
Due: none

fix:extent resizeDelta
  images/agent/internal/controller/lvg/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

feat: replace resizeDelta with extent-aligned size comparison
  api/v1alpha1/lvm_volume_group.go
  api/v1alpha1/zz_generated.deepcopy.go
  crds/lvmvolumegroup.yaml
  images/agent/internal/const.go
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/type.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/units.go
Due: go-generate, go-test-ce, go-test-ee

fix: extent-alignment regressions in discoverer and LLV validation
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/lvg/discoverer.go
Due: go-generate, go-test-ce, go-test-ee

fix:extent resizeDelta
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

feat: replace resizeDelta with extent-aligned size comparison (#201)
  api/v1alpha1/lvm_volume_group.go
  api/v1alpha1/zz_generated.deepcopy.go
  crds/lvmvolumegroup.yaml
  images/agent/internal/const.go
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/reconciler_test.go
  images/agent/internal/type.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/units.go
Due: go-generate, go-test-ce, go-test-ee

fix(scheduler-extender): prevent double-counting of Failed LLVs with actualSize in available space calculation
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(llv): remove false-Failed validation when actualSize > spec.size
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(lvg): include ExtentSize in discoverer diff and add 4Mi fallback in LLV controller
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

add errors
  images/agent/cmd/main.go
  images/agent/internal/cache/cache.go
  images/agent/internal/cache/cache_test.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bd/discoverer_test.go
  images/agent/internal/scanner/scanner.go
  images/agent/internal/type.go
  images/agent/internal/udev/integration_test.go
  images/agent/internal/udev/scanner.go
  images/agent/internal/udev/scanner_test.go
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

fix
  e2e/go.mod
  images/agent/internal/udev/scanner.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix
  images/agent/internal/udev/device_test.go
  images/agent/internal/udev/scanner_test.go
Due: go-generate, go-test-ce, go-test-ee

remove GetBlockDevice from command - old API
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
Due: go-generate, go-test-ce, go-test-ee

fix mocks
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/syscall.go
Due: go-generate, go-test-ce, go-test-ee

f
  images/agent/internal/mock_utils/block_device.go
Due: go-generate, go-test-ce, go-test-ee

remove GetBlockDevice from command - old API (#217)
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
Due: go-generate, go-test-ce, go-test-ee

add errors (#216)
  e2e/go.mod
  images/agent/cmd/main.go
  images/agent/internal/cache/cache.go
  images/agent/internal/cache/cache_test.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bd/discoverer_test.go
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/agent/internal/scanner/scanner.go
  images/agent/internal/type.go
  images/agent/internal/udev/device_test.go
  images/agent/internal/udev/integration_test.go
  images/agent/internal/udev/scanner.go
  images/agent/internal/udev/scanner_test.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

Bump modules-actions from v9 to v12
  .github/workflows/merge-and-release.yml
  .github/workflows/translate-changelog.yml
Due: none

ci: port e2e workflow hardening from ndemchuk branch
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/go_checks.yaml
  .github/workflows/trivy_image_check.yaml
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/manifests/job.yaml
  e2e/manifests/rbac.yaml
  e2e/patches/storage-e2e-reconnect-after-add-nodes.patch
Due: none

e2e: add block device shrink and manual BlockDevice tests
  e2e/README.md
  e2e/go.mod
  e2e/tests/sds_node_configurator_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

e2e: reduce CI test cluster footprint
  e2e/tests/cluster_config.yml
Due: none

e2e: add BlockDevice disappearance scenario
  e2e/README.md
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

up go version
  e2e/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/controller/go.sum
  images/sds-utils-installer/go.mod
Due: go-mod-tidy

fix: read host mountinfo via /proc/1/mountinfo instead of /proc/self/mountinfo
  images/agent/internal/udev/device.go
  images/agent/internal/udev/mountinfo.go
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
