Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

removed drbd cluster syncer
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

some fixes
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

add LVGWatcherCacheController
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

Fix values
  .werf/choose-edition.yaml
Due: none

Fix go version
  images/sds-common-scheduler-extender/go.mod
Due: go-mod-tidy

[internal] remove python requirements
  lib/python/requirements.txt
Due: none

[internal] remove python requirements
  CHANGELOG/v0.5.10.ru.yml
  CHANGELOG/v0.5.10.yml
Due: none

Remove python requirements (#176)
  CHANGELOG/v0.5.10.ru.yml
  CHANGELOG/v0.5.10.yml
  lib/python/requirements.txt
Due: none

Fix LVM Thin Volume Cleanup
  images/agent/internal/const.go
  images/agent/internal/utils/commands_ee.go
  images/agent/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
Due: go-generate, go-test-ce, go-test-ee

[internal] fixed volume cleanup
  CHANGELOG/v0.5.11.ru.yml
  CHANGELOG/v0.5.11.yml
Due: none

[internal] Fix LVM Thin Volume Cleanup (#177)
  CHANGELOG/v0.5.11.ru.yml
  CHANGELOG/v0.5.11.yml
  images/agent/internal/const.go
  images/agent/internal/utils/commands_ee.go
  images/agent/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
Due: go-generate, go-test-ce, go-test-ee

[doc] add manual VG creation guide (#167)
  docs/USAGE.md
  docs/USAGE.ru.md
Due: none

[doc] update documentation for sds-node-configurator module
  docs/FAQ.ru.md
  docs/LAYOUTS.ru.md
  docs/README.ru.md
  docs/USAGE.ru.md
Due: none

[docs] Additional documentation improvements and CRD fixes
  crds/blockdevices.yaml
  crds/doc-ru-blockdevices.yaml
  crds/doc-ru-lvmlogicalvolume.yaml
  crds/doc-ru-lvmlogicalvolumesnapshot.yaml
  crds/doc-ru-lvmvolumegroup.yaml
  crds/doc-ru-lvmvolumegroupbackup.yaml
  crds/doc-ru-lvmvolumegroupset.yaml
  crds/lvmlogicalvolume.yaml
  crds/lvmlogicalvolumesnapshot.yaml
  crds/lvmvolumegroup.yaml
  crds/lvmvolumegroupbackup.yaml
  crds/lvmvolumegroupset.yaml
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/LAYOUTS.md
  docs/LAYOUTS.ru.md
  docs/README.md
  docs/README.ru.md
  docs/USAGE.md
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
Due: none

[docs] Renamed USAGE.md
  crds/doc-ru-lvmlogicalvolume.yaml
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/LAYOUTS.md
  docs/LAYOUTS.ru.md
  docs/README.md
  docs/README.ru.md
  docs/RESOURCES.md
  docs/RESOURCES.ru.md
Due: none

Update Go version to 1.24.9, BASE_IMAGES_VERSION to v0.5.37 and lib-helm to deckhouse_lib_helm-1.64.1
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  CHANGELOG/v0.5.12.ru.yml
  CHANGELOG/v0.5.12.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.63.1.tgz
  charts/deckhouse_lib_helm-1.64.1.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/sds-health-watcher-controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy

[internal] fixed CVE scan and svace
  .github/workflows/build_dev.yml
  .github/workflows/trivy_image_check.yaml
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
Due: none

[internal] fix svace
  .github/workflows/build_dev.yml
  .github/workflows/svace_analyze.yaml
  .github/workflows/trivy_image_check.yaml
Due: none

[internal] fix changelog
  CHANGELOG/v0.5.12.ru.yml
  CHANGELOG/v0.5.12.yml
Due: none

Update Go version to 1.24.9 and lib-helm to deckhouse_lib_helm-1.64.1 (#179)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/svace_analyze.yaml
  .github/workflows/trivy_image_check.yaml
  CHANGELOG/v0.5.12.ru.yml
  CHANGELOG/v0.5.12.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.63.1.tgz
  charts/deckhouse_lib_helm-1.64.1.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/go.mod
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/go.mod
  images/webhooks/werf.inc.yaml
  lib/go/common/go.mod
Due: go-mod-tidy

Post-review updates
  crds/blockdevices.yaml
  crds/doc-ru-blockdevices.yaml
  crds/doc-ru-lvmlogicalvolume.yaml
  crds/doc-ru-lvmlogicalvolumesnapshot.yaml
  crds/doc-ru-lvmvolumegroup.yaml
  crds/doc-ru-lvmvolumegroupbackup.yaml
  crds/lvmlogicalvolume.yaml
  crds/lvmlogicalvolumesnapshot.yaml
  crds/lvmvolumegroup.yaml
  crds/lvmvolumegroupbackup.yaml
  crds/lvmvolumegroupset.yaml
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/LAYOUTS.md
  docs/LAYOUTS.ru.md
  docs/README.md
  docs/README.ru.md
  docs/RESOURCES.md
  docs/RESOURCES.ru.md
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
Due: none

FAQ updates
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/LAYOUTS.md
  docs/LAYOUTS.ru.md
Due: none

Update Go version to 1.24.9, BASE_IMAGES_VERSION to v0.5.39 and lib-helm to deckhouse_lib_helm-1.64.1
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  CHANGELOG/v0.5.13.ru.yml
  CHANGELOG/v0.5.13.yml
Due: none

[internal] fix changelog
  CHANGELOG/v0.5.13.ru.yml
  CHANGELOG/v0.5.13.yml
Due: none

Update base images (#180)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  CHANGELOG/v0.5.13.ru.yml
  CHANGELOG/v0.5.13.yml
Due: none

Add weights
  docs/CONFIGURATION.md
  docs/CONFIGURATION.ru.md
  docs/CR.md
  docs/CR.ru.md
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/LAYOUTS.md
  docs/LAYOUTS.ru.md
  docs/README.md
  docs/README.ru.md
  docs/RESOURCES.md
  docs/RESOURCES.ru.md
Due: none

trigger for building
  .gitignore
Due: none

bump go version
  .gitignore
  images/sds-common-scheduler-extender/go.mod
Due: go-mod-tidy

return logLevel
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

deleting an unused file
  images/sds-common-scheduler-extender/cmd/access_log.go
Due: go-generate, go-test-ce, go-test-ee

[internal] fix sds-node-configurator daemonset securitycontext
  templates/agent/daemonset.yaml
Due: none

[internal] fix sds-node-configurator daemonset securitycontext (#181)
  templates/agent/daemonset.yaml
Due: none

[docs] Improve documentation structure and wording (#178)
  crds/blockdevices.yaml
  crds/doc-ru-blockdevices.yaml
  crds/doc-ru-lvmlogicalvolume.yaml
  crds/doc-ru-lvmlogicalvolumesnapshot.yaml
  crds/doc-ru-lvmvolumegroup.yaml
  crds/doc-ru-lvmvolumegroupbackup.yaml
  crds/doc-ru-lvmvolumegroupset.yaml
  crds/lvmlogicalvolume.yaml
  crds/lvmlogicalvolumesnapshot.yaml
  crds/lvmvolumegroup.yaml
  crds/lvmvolumegroupbackup.yaml
  crds/lvmvolumegroupset.yaml
  docs/CONFIGURATION.md
  docs/CONFIGURATION.ru.md
  docs/CR.md
  docs/CR.ru.md
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/LAYOUTS.md
  docs/LAYOUTS.ru.md
  docs/README.md
  docs/README.ru.md
  docs/RESOURCES.md
  docs/RESOURCES.ru.md
  docs/USAGE.md
  docs/USAGE.ru.md
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
Due: none

disable processing replicated.csi.storage.deckhouse.io provider
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

delete usage github.com/deckhouse/sds-replicated-volume/api/v1alpha2
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

merge two readme files together
  hack/README.md
  hack/readme.md
Due: none

merge two readme files together (#182)
  hack/README.md
  hack/readme.md
Due: none

disable filterSingleNodeSRV
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-generate, go-test-ce, go-test-ee

add some todos
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-generate, go-test-ce, go-test-ee
