Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

changelog: v0.6.6 release
  CHANGELOG/v0.6.6.ru.yml
Due: none

exclude bootstrap node
  e2e/tests/block_device_stable_test.go
Due: go-generate, go-test-ce, go-test-ee

E2E Test for Block Device Stability (#269)
  e2e/cfg/config.go
  e2e/go.mod
  e2e/go.sum
  e2e/tests/block_device_stable_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/utils/consts/consts.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_helpers_core_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/e2e_node_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fixed SSH jump and some mnor stuff here and there Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/e2e_node_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_cleanup_scheduler_test.go
  e2e/tests/sds_node_configurator_helpers_core_test.go
Due: go-generate, go-test-ce, go-test-ee

Add x-config-version: 2 to openapi config-values spec.
  openapi/config-values.yaml
Due: none

fix discover LVM test Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_helpers_core_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix (#247)
  e2e/tests/e2e_node_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_cleanup_scheduler_test.go
  e2e/tests/sds_node_configurator_helpers_core_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

some ref
  e2e/tests/netlink_discovery_test.go
  e2e/tests/utils/consts/consts.go
  e2e/tests/utils/consts/timeout.go
Due: go-generate, go-test-ce, go-test-ee

some ref
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

test done
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

add ctx
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

new test Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/netlink_discovery_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.78, lib-helm 1.71.12
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.11.tgz
  charts/deckhouse_lib_helm-1.71.12.tgz
Due: none

Test/e2e netlink discovery change (#273)
  e2e/tests/netlink_discovery_test.go
  e2e/tests/utils/consts/consts.go
  e2e/tests/utils/consts/timeout.go
Due: go-generate, go-test-ce, go-test-ee

new test (#274)
  e2e/tests/netlink_discovery_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

added new test Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/e2e_node_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: import jq from base_images in images-digests
  .werf/images-digests.yaml
Due: none

fix: render changelog bullets with colons correctly in release notes
  hack/generate_release_notes
  hack/generate_release_notes.go
  hack/go.mod
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix vgextend test Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(changelog): use English Changes key and translate Russian text
  CHANGELOG/v0.6.0.yml
  CHANGELOG/v0.6.1.yml
  CHANGELOG/v0.6.2.yml
  CHANGELOG/v0.6.3.yml
  CHANGELOG/v0.6.4.yml
  CHANGELOG/v0.6.5.yml
  CHANGELOG/v0.6.6.yml
Due: none

E2E added thin-pool removal test (#276)
  e2e/tests/e2e_node_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

Sync base-images v0.5.78, Go 1.25.10, lib-helm 1.71.12 (#275)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .werf/images-digests.yaml
  CHANGELOG/v0.6.0.yml
  CHANGELOG/v0.6.1.yml
  CHANGELOG/v0.6.2.yml
  CHANGELOG/v0.6.3.yml
  CHANGELOG/v0.6.4.yml
  CHANGELOG/v0.6.5.yml
  CHANGELOG/v0.6.6.yml
  charts/deckhouse_lib_helm-1.71.11.tgz
  charts/deckhouse_lib_helm-1.71.12.tgz
  hack/generate_release_notes
  hack/generate_release_notes.go
  hack/go.mod
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

changelog: v0.6.7 release
  CHANGELOG/v0.6.7.ru.yml
Due: none

chore: sync base-images v0.5.79, lib-helm 1.72.0
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.12.tgz
  charts/deckhouse_lib_helm-1.72.0.tgz
Due: none

[scheduler-extender] Fix race with empty PVC Status.Phase and harden local-PVC filtering
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.79, lib-helm 1.72.0 (#278)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.12.tgz
  charts/deckhouse_lib_helm-1.72.0.tgz
Due: none

test auth to registry changes
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/deploy_dev.yml
Due: none

feat(agent): schedule sds-node-configurator agent on sds-elastic data nodes
  templates/agent/daemonset.yaml
Due: none

feat(udev): add udev property parsers and DeviceMap event store
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/properties.go
  images/agent/internal/udev/properties_test.go
Due: go-generate, go-test-ce, go-test-ee

refactor(udev): rename UdevProperties to Properties, add ErrUnknownAction sentinel
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/properties.go
  images/agent/internal/udev/properties_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(udev): address PR 238 review feedback
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/properties.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Add udev property parsers and DeviceMap event store (#238)
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/properties.go
  images/agent/internal/udev/properties_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(udev): add udev DB reader and FillFromCrawler for device map
  images/agent/go.mod
  images/agent/go.sum
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/udevdb.go
  images/agent/internal/udev/udevdb_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix(udev): guard empty key in ReadUdevDB, add missing tests
  images/agent/internal/udev/udevdb.go
  images/agent/internal/udev/udevdb_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(udev): address PR 239 review feedback
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/properties.go
  images/agent/internal/udev/udevdb.go
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
