Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

fix(lsvg): say why a fenced node is still out of its pool
  images/agent/internal/controller/lsvg/barrier.go
  images/agent/internal/controller/lsvg/barrier_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync lib-helm 1.72.14
  charts/deckhouse_lib_helm-1.72.13.tgz
  charts/deckhouse_lib_helm-1.72.14.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
Due: go-mod-tidy

fix(lsvg): the owner's status patch must not erase what members published
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(lsvg): publish the conditions the group's schema promises
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

docs(crd): drop the group condition nobody can write
  crds/doc-ru-lvmsharedvolumegroup.yaml
  crds/lvmsharedvolumegroup.yaml
Due: none

fix(lsvg): a node leaving a pool it cannot stop must not claim the lockspace
  images/agent/internal/controller/lsvg/barrier.go
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(lsvg): a lockspace held without a readable identity is still held
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(controller): release what a node that no longer exists left in a pool
  images/controller/cmd/main.go
  images/controller/internal/const.go
  images/controller/pkg/controller/shared_vanished_node_cleanup.go
  images/controller/pkg/controller/shared_vanished_node_cleanup_test.go
  templates/controller/rbac-for-us.yaml
Due: go-generate, go-test-ce, go-test-ee

fix(rbac): a comment cannot live inside a template action
  templates/controller/rbac-for-us.yaml
Due: none

build(agent): declare the mount points the shared pool added
  images/agent/mount-points.yaml
Due: none

build(agent): do not declare a read-only mount point
  images/agent/mount-points.yaml
Due: none

fix(rbac): the controller patches a group's status, not only updates it
  templates/controller/rbac-for-us.yaml
Due: none

fix(webhooks): do not judge an attachment that is being deleted
  images/webhooks/handlers/sharedPoolValidator.go
  images/webhooks/handlers/sharedPoolValidator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(lsvg): a fenced member that cannot stop yet must not claim the lockspace
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

perf(lsvg): look at a pool this node is not in less often
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee
