Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

[internal] add sds common scheduler extender
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: none

[internal] add sds common scheduler extender
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/test.go
Due: go-generate, go-test-ce, go-test-ee

[internal] add sds common scheduler extender
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

[internal] add module stage
  module.yaml
Due: none

[internal] add module stage (#154)
  module.yaml
Due: none

[internal] update lib-helm and switch to deckhouse api
  charts/deckhouse_lib_helm-1.59.0.tgz
  charts/deckhouse_lib_helm-1.60.0.tgz
  images/sds-health-watcher-controller/api/module_config.go
  images/sds-health-watcher-controller/api/register.go
  images/sds-health-watcher-controller/api/zz_generated.deepcopy.go
  images/sds-health-watcher-controller/api/zz_generated.defaults.go
  images/sds-health-watcher-controller/cmd/main.go
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/go.sum
  images/sds-health-watcher-controller/pkg/controller/mc_watcher.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

[internal] update lib-helm and switch to deckhouse api
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/sds-health-watcher-controller/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

[internal] update lib-helm and switch to deckhouse api
  api/go.mod
  charts/deckhouse_lib_helm-1.60.0.tgz
  charts/deckhouse_lib_helm-1.62.2.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/sds-health-watcher-controller/cmd/main.go
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/go.sum
  images/sds-health-watcher-controller/pkg/controller/mc_watcher.go
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

[internal] update lib-helm and switch to deckhouse api
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
Due: none

[internal] update lib-helm and switch to deckhouse api (#152)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.59.0.tgz
  charts/deckhouse_lib_helm-1.62.2.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/sds-health-watcher-controller/api/module_config.go
  images/sds-health-watcher-controller/api/register.go
  images/sds-health-watcher-controller/api/zz_generated.deepcopy.go
  images/sds-health-watcher-controller/api/zz_generated.defaults.go
  images/sds-health-watcher-controller/cmd/main.go
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/go.sum
  images/sds-health-watcher-controller/pkg/controller/mc_watcher.go
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

filtering logic rework
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

updated scoring logic
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

[internal] update go.mod
  images/sds-common-scheduler-extender/go.sum
Due: none

[internal] add sds common scheduler extender
  hooks/go/030-common-scheduler-extender-certs/common-scheduler-extender-certs.go
  hooks/go/main.go
  images/sds-common-scheduler-extender/LICENSE
  images/sds-common-scheduler-extender/cmd/access_log.go
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache.md
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/kubutils/kubernetes.go
  images/sds-common-scheduler-extender/pkg/logger/logger.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
  images/sds-common-scheduler-extender/pkg/test.go
  images/sds-common-scheduler-extender/werf.inc.yaml
  openapi/values.yaml
  openapi/values_ce.yaml
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
  templates/sds-common-scheduler-extender/secret.yaml
  templates/sds-common-scheduler-extender/service.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

add rbac rules for nodes
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

run go mod tidy
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
Due: go-mod-tidy

[internal] update werf
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: none

[internal] update werf.yaml
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: none

fixed logging
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

upd filtering logic
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

upd checkIfNodeContainsDiskfulReplica logic
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-generate, go-test-ce, go-test-ee

upd pvc watcher
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
Due: go-generate, go-test-ce, go-test-ee

add more logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

more logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

remove support for the old module
  templates/agent/daemonset.yaml
Due: none

prioritize filter input bug fix
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

doc: replace sds-drbd module
  docs/FAQ.md
  docs/FAQ.ru.md
Due: none

[internal] Remove support for the sds-drbd module (#155)
  docs/FAQ.md
  docs/FAQ.ru.md
  templates/agent/daemonset.yaml
Due: none

agent: del podmonitor
  templates/agent/daemonset.yaml
  templates/agent/podmonitor.yaml
Due: none

agent: add HEALTH_PROBE_BIND_ADDRESS
  templates/agent/daemonset.yaml
Due: none

agent: fix readiness/liveness Probe
  templates/agent/daemonset.yaml
Due: none
