Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

chore: sync base-images v1.1.7, Go 1.26.4, lib-helm 1.72.4
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.0.tgz
  charts/deckhouse_lib_helm-1.72.4.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

chore: sync base-images v1.1.8, Go 1.26.4, lib-helm 1.72.4
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.0.tgz
  charts/deckhouse_lib_helm-1.72.4.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

chore(ci): обновить go_version в go_checks до 1.26.4
  .github/workflows/go_checks.yaml
Due: none

Sync base-images v1.1.8, Go 1.26.4, lib-helm 1.72.4 (#306)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/go_checks.yaml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.0.tgz
  charts/deckhouse_lib_helm-1.72.4.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

Add VEX attestation infrastructure for module builds.
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/deploy_dev.yml
  .werf/base-images.yaml
  .werf/defines/vex.tmpl
  werf-giterminism.yaml
Due: none

fix(agent): guard empty lv_attr in thin-pool detection
  images/agent/internal/controller/lvg/discoverer_test.go
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/utils.go
Due: go-generate, go-test-ce, go-test-ee

chore: set storage subsystem in module.yaml
  module.yaml
Due: none

chore: sync base-images v1.1.14, lib-helm 1.72.5
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.72.4.tgz
  charts/deckhouse_lib_helm-1.72.5.tgz
Due: none

chore: sync base-images v1.2.0, lib-helm 1.72.7
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.72.4.tgz
  charts/deckhouse_lib_helm-1.72.7.tgz
Due: none

chore: sync base-images v1.3.1, lib-helm 1.72.7
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.72.4.tgz
  charts/deckhouse_lib_helm-1.72.7.tgz
Due: none

fix(agent): treat lvextend no-op resize as benign across LVM versions
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v1.3.2, Go 1.26.5, lib-helm 1.72.9
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.4.tgz
  charts/deckhouse_lib_helm-1.72.9.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

fix(cve): bump golang.org/x/{net,sys,crypto} to patched versions
  api/go.mod
  api/go.sum
  hooks/go/go.mod
  hooks/go/go.sum
  images/agent/go.mod
  images/agent/go.sum
  images/controller/go.mod
  images/controller/go.sum
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/webhooks/go.mod
  images/webhooks/go.sum
Due: go-mod-tidy

fix(cve): pin golang.org/x/net to v0.55.0
  api/go.mod
  api/go.sum
  hooks/go/go.mod
  hooks/go/go.sum
  images/agent/go.mod
  images/agent/go.sum
  images/controller/go.mod
  images/controller/go.sum
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/webhooks/go.mod
  images/webhooks/go.sum
Due: go-mod-tidy

fix(cve): actually apply golang.org/x/{net,sys,crypto} bump
  api/go.mod
  api/go.sum
  hooks/go/go.mod
  hooks/go/go.sum
  images/agent/go.mod
  images/agent/go.sum
  images/controller/go.mod
  images/controller/go.sum
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/webhooks/go.mod
  images/webhooks/go.sum
Due: go-mod-tidy

feat(e2e): add reusable workflow for E2E testing in storage module
  .github/workflows/e2e-tests.yml
Due: none

fix(agent): extend cloned/restored LV to the requested size
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(e2e): enhance block device stability tests with new disk management methods
  e2e/go.mod
  e2e/go.sum
  e2e/tests/block_device_stable_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

refactor(tests): remove unused context and cluster management code from test suite
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

refactor(tests): remove unused context and cluster management code from test suite
  .github/workflows/e2e-tests.yml
Due: none

fix req
  e2e/cfg/config.go
Due: go-generate, go-test-ce, go-test-ee

refactor(tests): streamline block device stability tests by removing unused cluster code
  e2e/tests/block_device_stable_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v1.3.10, lib-helm 1.72.10 and fix golang.org/x CVEs
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .werf/bundle.yaml
  .werf/images-digests.yaml
  api/go.mod
  api/go.sum
  charts/deckhouse_lib_helm-1.72.10.tgz
  charts/deckhouse_lib_helm-1.72.9.tgz
  hooks/go/go.mod
  hooks/go/go.sum
  images/agent/go.mod
  images/agent/go.sum
  images/controller/go.mod
  images/controller/go.sum
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/webhooks/go.mod
  images/webhooks/go.sum
  known_vulnerabilities.vex
Due: go-mod-tidy

refactor(tests): improve block device stability tests by enhancing resource cleanup and correcting disk references
  e2e/go.mod
  e2e/tests/block_device_stable_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

refactor(tests): update labels and streamline netlink discovery tests
  e2e/tests/block_device_stable_test.go
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): migrate the suite onto the storage-e2e dvp provider scheme
  .github/workflows/e2e-tests.yml
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/cfg/config.go
  e2e/cfg/validation.go
  e2e/go.mod
  e2e/go.sum
  e2e/patches/storage-e2e-reconnect-after-add-nodes.diff
  e2e/tests/block_device_stable_test.go
  e2e/tests/cluster_config.ci.yml
  e2e/tests/e2e_node_ssh_test.go
  e2e/tests/netlink_discovery_test.go
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_helpers_core_test.go
  e2e/tests/sds_node_configurator_helpers_virtualization_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

feat: add LVM on file-backed loop devices (spec.fileDevices)
  api/v1alpha1/lvm_volume_group.go
  api/v1alpha1/lvm_volume_group_set.go
  api/v1alpha1/zz_generated.deepcopy.go
  crds/lvmvolumegroup.yaml
  crds/lvmvolumegroupset.yaml
  docs/FAQ.md
  docs/RESOURCES.md
  e2e/README.md
  e2e/tests/sds_node_configurator_helpers_filedevices_test.go
  e2e/tests/sds_node_configurator_test.go
  images/agent/cmd/main.go
  images/agent/internal/config/config.go
  images/agent/internal/config/config_test.go
  images/agent/internal/const.go
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/discoverer_test.go
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/reconciler_test.go
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/agent/internal/scanner/scanner.go
  images/agent/internal/type.go
  images/agent/internal/utils/activation.go
  images/agent/internal/utils/activation_filedevices_test.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
  images/agent/internal/utils/devicefilter.go
  images/agent/internal/utils/devicefilter_test.go
  images/agent/internal/utils/filedevices.go
  images/agent/internal/utils/filedevices_test.go
  images/controller/pkg/controller/lvm_volume_group_set_watcher.go
  images/controller/pkg/controller/lvm_volume_group_set_watcher_test.go
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
  templates/agent/daemonset.yaml
  templates/agent/nodegroupconfiguration-blacklist-loop-devices.yaml
Due: go-generate, go-test-ce, go-test-ee

feat(e2e): refactor and enhance E2E testing framework with new utilities and configurations
  e2e/README.md
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/cfg/mode.go
  e2e/cfg/stress.go
  e2e/cfg/validation.go
  e2e/framework/blockdevice.go
  e2e/framework/disk.go
  e2e/framework/exec.go
  e2e/framework/lvm.go
  e2e/framework/parse.go
  e2e/go.mod
  e2e/go.sum
  e2e/sdsclient/sdsclient.go
  e2e/tests/block_device_discovery_test.go
  e2e/tests/block_device_reconcile_test.go
  e2e/tests/block_device_stable_test.go
  e2e/tests/controller_restart_test.go
  e2e/tests/e2e_cluster_lock_test.go
  e2e/tests/e2e_node_ssh_test.go
  e2e/tests/helpers_agent_test.go
  e2e/tests/helpers_cleanup_test.go
  e2e/tests/helpers_discovery_test.go
  e2e/tests/lvmvolumegroup_autoimport_test.go
  e2e/tests/lvmvolumegroup_extend_test.go
  e2e/tests/lvmvolumegroup_recreate_multi_test.go
  e2e/tests/lvmvolumegroup_thinpool_test.go
  e2e/tests/lvmvolumegroup_validation_test.go
  e2e/tests/netlink_discovery_test.go
  e2e/tests/scheduler_extender_test.go
  e2e/tests/scheduler_helpers_test.go
  e2e/tests/sds_node_configurator_helpers_cleanup_scheduler_test.go
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_helpers_core_test.go
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_helpers_virtualization_test.go
  e2e/tests/sds_node_configurator_stress_max_vgs_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/sds_node_configurator_test.go
  e2e/tests/stress_max_vgs_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

feat(e2e): streamline cleanup process in E2E tests by utilizing DeferCleanup
  e2e/tests/block_device_discovery_test.go
  e2e/tests/block_device_reconcile_test.go
  e2e/tests/block_device_stable_test.go
  e2e/tests/controller_restart_test.go
  e2e/tests/lvmvolumegroup_autoimport_test.go
  e2e/tests/lvmvolumegroup_extend_test.go
  e2e/tests/lvmvolumegroup_recreate_multi_test.go
  e2e/tests/lvmvolumegroup_thinpool_test.go
  e2e/tests/lvmvolumegroup_validation_test.go
  e2e/tests/netlink_discovery_test.go
  e2e/tests/scheduler_extender_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/stress_max_vgs_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(e2e): improve config loading in E2E tests with error handling
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/cfg/stress.go
  e2e/tests/block_device_discovery_test.go
  e2e/tests/block_device_reconcile_test.go
  e2e/tests/block_device_stable_test.go
  e2e/tests/controller_restart_test.go
  e2e/tests/lvmvolumegroup_autoimport_test.go
  e2e/tests/lvmvolumegroup_extend_test.go
  e2e/tests/lvmvolumegroup_recreate_multi_test.go
  e2e/tests/lvmvolumegroup_thinpool_test.go
  e2e/tests/lvmvolumegroup_validation_test.go
  e2e/tests/netlink_discovery_test.go
  e2e/tests/scheduler_extender_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/stress_max_vgs_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(e2e): improve config loading in E2E tests with error handling
  .gitignore
  e2e/Makefile
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/manifests/job.yaml
  e2e/tests/block_device_stable_test.go
  e2e/tests/netlink_discovery_test.go
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(e2e): update environment variable names for test cluster configuration
  e2e/Makefile
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(e2e): remove reconnect patch logic and update cluster config for CI
  .github/workflows/build_dev.yml
  .github/workflows/e2e-tests.yml
  e2e/Makefile
  e2e/patches/storage-e2e-reconnect-after-add-nodes.diff
  e2e/tests/cluster_config.ci.yml
Due: none

feat(e2e): update storage-e2e dependency version and add bootstrap/remove cluster tools
  e2e/go.mod
  e2e/go.sum
Due: go-mod-tidy

feat(e2e): refactor polling logic in tests for improved readability and error handling
  e2e/framework/blockdevice.go
  e2e/framework/poll.go
  e2e/go.sum
  e2e/tests/helpers_agent_test.go
  e2e/tests/helpers_cleanup_test.go
  e2e/tests/lvmvolumegroup_autoimport_test.go
  e2e/tests/scheduler_helpers_test.go
  e2e/tests/stress_max_vgs_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(e2e): refactor polling logic in tests for improved readability and error handling
  .github/workflows/build_dev.yml
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/README.md
  e2e/tests/stress_max_vgs_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(e2e): refactor polling logic in tests for improved readability and error handling
  .github/workflows/build_dev.yml
  .github/workflows/e2e-tests.yml
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/README.md
  e2e/framework/disk.go
  e2e/manifests/job.yaml
  e2e/manifests/rbac.yaml
  e2e/tests/block_device_discovery_test.go
  e2e/tests/helpers_agent_test.go
  e2e/tests/lvmvolumegroup_thinpool_test.go
  e2e/tests/netlink_discovery_test.go
  e2e/tests/stress_max_vgs_test.go
Due: go-generate, go-test-ce, go-test-ee

chore(e2e): tidy go.mod/go.sum after merging main (golang.org/x bumps via ../api replace)
  e2e/go.mod
  e2e/go.sum
Due: go-mod-tidy

add ContinueOnFailure
  e2e/tests/block_device_discovery_test.go
  e2e/tests/block_device_reconcile_test.go
  e2e/tests/block_device_stable_test.go
  e2e/tests/controller_restart_test.go
  e2e/tests/lvmvolumegroup_autoimport_test.go
  e2e/tests/lvmvolumegroup_recreate_multi_test.go
  e2e/tests/lvmvolumegroup_validation_test.go
  e2e/tests/stress_max_vgs_test.go
Due: go-generate, go-test-ce, go-test-ee

fix
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
