Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

update ExtractLVGsFromSC method
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

some improvements
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

add unmarshal middleware
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

add kube client to cache manager
  images/sds-common-scheduler-extender/pkg/cache/manager.go
Due: go-generate, go-test-ce, go-test-ee

add LVGWatcherCacheCtrlName startup
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
Due: go-generate, go-test-ce, go-test-ee

change middleware order
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] replace pkg name
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/controller/drbd_cluster_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

minor refactor
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

add rbac
  templates/agent/rbac-for-us.yaml
Due: none

add sds-common-scheduler-extender template
  images/sds-common-scheduler-extender/src/cmd/access_log.go
  images/sds-common-scheduler-extender/src/cmd/main.go
  images/sds-common-scheduler-extender/src/go.mod
  images/sds-common-scheduler-extender/src/go.sum
  images/sds-common-scheduler-extender/src/pkg/cache/cache.go
  images/sds-common-scheduler-extender/src/pkg/cache/cache.md
  images/sds-common-scheduler-extender/src/pkg/cache/manager.go
  images/sds-common-scheduler-extender/src/pkg/consts/consts.go
  images/sds-common-scheduler-extender/src/pkg/controller/drbd_cluster_watcher.go
  images/sds-common-scheduler-extender/src/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/src/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/src/pkg/kubutils/kubernetes.go
  images/sds-common-scheduler-extender/src/pkg/logger/logger.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/filter_doc.md
  images/sds-common-scheduler-extender/src/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/prioritize_doc.md
  images/sds-common-scheduler-extender/src/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/route.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/types.go
  images/sds-common-scheduler-extender/src/pkg/test.go
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

shouldProcess upd
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] del RoleBinding
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

Signed-off-by: v.oleynikov <vasily.oleynikov@flant.com>
  .werf/choose-edition.yaml
Due: none

Fix module version choose
  .werf/choose-edition.yaml
Due: none

More explanation in logs
  images/agent/internal/controller/bd/discoverer.go
Due: go-generate, go-test-ce, go-test-ee

Add log to BlockDeviceFilter reconciling
  images/agent/internal/controller/bdf/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

add score logic fix
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

Fix values_ee.yaml
  openapi/values_ee.yaml
Due: none

Fix values_ee.yaml
  .werf/choose-edition.yaml
Due: none

removed drbd cluster syncer
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

fix rbac
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

Fix module CRDs and choose-version image if needed
  .werf/choose-edition.yaml
  crds/blockdevices.yaml
  crds/lvmlogicalvolume.yaml
  crds/lvmlogicalvolumesnapshot.yaml
  crds/lvmvolumegroup.yaml
  crds/lvmvolumegroupbackup.yaml
  crds/lvmvolumegroupset.yaml
Due: none

Fix module CRDs and choose-version image if needed
  crds/blockdevices.yaml
  crds/lvmlogicalvolume.yaml
  crds/lvmlogicalvolumesnapshot.yaml
  crds/lvmvolumegroup.yaml
  crds/lvmvolumegroupbackup.yaml
  crds/lvmvolumegroupset.yaml
Due: none

Fix module CRDs and choose-version image if needed (#149)
  .werf/choose-edition.yaml
  crds/blockdevices.yaml
  crds/lvmlogicalvolume.yaml
  crds/lvmlogicalvolumesnapshot.yaml
  crds/lvmvolumegroup.yaml
  crds/lvmvolumegroupbackup.yaml
  crds/lvmvolumegroupset.yaml
Due: none

minor dependency fix
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

empty commit
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

add lapi to scheme
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

add srv v2
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

add rbac
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

empty commit
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-generate, go-test-ce, go-test-ee

fix
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

add more logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
