Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

bump Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/e2e-test.yml
  e2e/E2E_USAGE.md
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/e2e-test.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/go.mod
  e2e/go.sum
Due: go-mod-tidy

changelog: v0.6.9 release
  CHANGELOG/v0.6.9.ru.yml
Due: none

fix(lvg): calculate thin-pool requested size based on actual VG size
  images/agent/internal/controller/lvg/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

fix(lvg): add extent tolerances and use exact pe_start for sizes
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/type.go
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

test(lvg): add coverage for 100% pools and PV resize
  e2e/tests/sds_node_configurator_test.go
  images/agent/internal/controller/lvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

u 22 not working as well with docker, use redos
  e2e/tests/cluster_config.yml
Due: none

fix(lvg): tighten pvresize and thin-pool validation coverage
  e2e/tests/sds_node_configurator_test.go
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/reconciler_test.go
  images/agent/internal/utils/commands_test.go
Due: go-generate, go-test-ce, go-test-ee

adapt pvresize e2e to current main layout
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

style(agent): fix type.go formatting for PVData
  images/agent/internal/type.go
Due: go-generate, go-test-ce, go-test-ee

test(lvg): cover create flow VG size handling
  images/agent/internal/controller/lvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): stabilize shrink LVG readiness check
  e2e/tests/sds_node_configurator_helpers_cleanup_scheduler_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): adapt pvresize helpers after rebase
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

chore(e2e): clean up post-rebase test changes
  e2e/manifests/rbac.yaml
  e2e/tests/sds_node_configurator_test.go
  images/agent/internal/controller/lvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): expose pvs SSH failure output
  e2e/tests/sds_node_configurator_helpers_discovery_ssh_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: address final PR review notes
  e2e/tests/cluster_config.yml
  e2e/tests/sds_node_configurator_test.go
  images/agent/internal/utils/utils.go
Due: go-generate, go-test-ce, go-test-ee

fix(agent): remove blanket accept rule from LVM global_filter
  images/agent/internal/const.go
  images/agent/internal/const_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(agent): remove blanket accept rule from LVM global_filter (#294)
  images/agent/internal/const.go
  images/agent/internal/const_test.go
Due: go-generate, go-test-ce, go-test-ee

chore(e2e): remove duplicated validation scenario
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/e2e_workload_cleanup_test.go
  e2e/tests/sds_node_configurator_helpers_cleanup_scheduler_test.go
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_helpers_core_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/e2e_workload_cleanup_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.80, lib-helm 1.72.1
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.72.0.tgz
  charts/deckhouse_lib_helm-1.72.1.tgz
Due: none

fix(e2e): pick guest VMs that are registered Kubernetes nodes
  e2e/tests/block_device_stable_test.go
  e2e/tests/sds_node_configurator_helpers_virtualization_test.go
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
