Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, test-ce, test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: golang
  entry: ./hack/for-each-mod go mod tidy
  pass_filenames: false

test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: golang
  entry: ./hack/for-each-mod go test -tags=ce ./...

test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: golang
  entry: ./hack/for-each-mod go test -tags=ce ./...

dev container
  .devcontainer/devcontainer.json
Due: none

markdown-lint
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint.yaml
  .pre-commit-config.yaml
  api/README.md
  docs/FAQ.md
  docs/FAQ.ru.md
  docs/LAYOUTS.ru.md
  docs/README.md
  docs/README.ru.md
  docs/USAGE.md
  docs/USAGE.ru.md
  images/agent/README.md
  testing/markdownlint.yaml
Due: none

go-generate
  .pre-commit-config.yaml
Due: none

fix in webhooks templates
  templates/webhooks/deployment.yaml
Due: none

license checks
  .pre-commit-config.yaml
  hack/boilerplate.txt
  hack/boilerplate_ee.txt
Due: none

License checks
  .pre-commit-config.yaml
  hack/boilerplate.txt
  hack/boilerplate_ee.txt
Due: none

[controller] fix in webhooks templates
  templates/webhooks/deployment.yaml
Due: none

[controller] fix in webhooks templates (#142)
  templates/webhooks/deployment.yaml
Due: none

python license checks
  .pre-commit-config.yaml
  api/v1alpha1/zz_generated.deepcopy.go
  hack/boilerplate.go.txt
  hack/boilerplate_ee.txt
  hooks/common.py
  hooks/convert_bd_names_to_selector.py
  hooks/ensure_crds.py
  hooks/generate_webhook_certs.py
  hooks/lib/__init__.py
  hooks/lib/certificate/__init__.py
  hooks/lib/certificate/certificate.py
  hooks/lib/certificate/parse.py
  hooks/lib/hooks/__init__.py
  hooks/lib/hooks/copy_custom_certificate.py
  hooks/lib/hooks/hook.py
  hooks/lib/hooks/internal_tls.py
  hooks/lib/hooks/manage_tenant_secrets.py
  hooks/lib/module/__init__.py
  hooks/lib/module/module.py
  hooks/lib/module/values.py
  hooks/lib/password_generator/__init__.py
  hooks/lib/password_generator/password_generator.py
  hooks/lib/tests/__init__.py
  hooks/lib/tests/test_copy_custom_certificate.py
  hooks/lib/tests/test_internal_tls_test.py
  hooks/lib/tests/test_manage_tenant_secrets.py
  hooks/lib/tests/testing.py
  hooks/lib/utils.py
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
Due: test-ce, test-ee

Bump go version
  .github/workflows/go_lint.yaml
  .github/workflows/go_modules_check.yaml
  .github/workflows/go_tests.yaml
  .werf/consts.yaml
  api/go.mod
  images/agent/go.mod
  images/sds-health-watcher-controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy

change variable name
  .werf/consts.yaml
Due: none

Fix image url
  .werf/consts.yaml
Due: none

new go image everywhere
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
Due: none

One missing go.mod change
  hooks/go/go.mod
Due: go-mod-tidy

revert go version changes
  .github/workflows/go_lint.yaml
  .github/workflows/go_modules_check.yaml
  .github/workflows/go_tests.yaml
  .werf/consts.yaml
  api/go.mod
  api/go.sum
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated_lvm_logical_volume_snapshot.deepcopy.go
  hooks/go/go.mod
  images/agent/go.mod
  images/agent/go.sum
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/go.sum
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/go.mod
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/go.mod
  images/webhooks/go.sum
  images/webhooks/werf.inc.yaml
Due: go-mod-tidy, test-ce, test-ee

go version revert
  lib/go/common/go.mod
Due: go-mod-tidy

go mod tidy
  images/agent/go.mod
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/go.sum
  images/webhooks/go.mod
  images/webhooks/go.sum
Due: go-mod-tidy

add k8s.io/code-generator/cmd/deepcopy-gen
  api/go.mod
  api/go.sum
Due: go-mod-tidy

mock generation
  images/agent/go.mod
  images/agent/go.sum
  images/agent/internal/utils/block_device.go
Due: go-mod-tidy, test-ce, test-ee

mock generation
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/syscall.go
Due: test-ce, test-ee

add go-generate step to pre-commit
  .pre-commit-config.yaml
Due: none

revert wrf go version names
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
Due: none

One missing go version revert
  images/agent/go.mod
Due: go-mod-tidy

add missing deps
  api/go.mod
  api/go.sum
  images/agent/go.mod
  images/agent/go.sum
Due: go-mod-tidy

add missing deps
  api/go.mod
  api/go.sum
Due: go-mod-tidy

add missing agent deps
  images/agent/go.mod
  images/agent/go.sum
Due: go-mod-tidy

Add tools.go to keep deps after
  api/go.mod
  api/go.sum
  api/tools.go
  images/agent/tools.go
Due: go-mod-tidy, test-ce, test-ee

Make linter happy
  .cspell/terms.txt
  .pre-commit-config.yaml
  hooks/go/consts/consts.go
  images/agent/internal/controller/llvs/reconciler_ee.go
Due: test-ce, test-ee

line parser checking for error diagnostics
  .github/workflows/go_modules_check.yaml
Due: none

don't check module line
  .github/workflows/go_modules_check.yaml
  .pre-commit-config.yaml
Due: none

remove wrong check
  .github/workflows/go_modules_check.yaml
Due: none

Update images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/discoverer.go
Due: test-ce, test-ee

Move cspell config around. * use yaml config * move dictionaries to `hack/cspell` * schema added
  .cspell.json
  cspell.config.yaml
  hack/cspell/companies.txt
  hack/cspell/terms.txt
Due: none

hack/readme.md
  hack/readme.md
Due: none

Update readme
  hack/readme.md
Due: none

CSpell description
  hack/readme.md
Due: none

Add generate script and makefile targets
  .pre-commit-config.yaml
  Makefile
  hack/update-generate.sh
Due: none

rename to generate_code.sh
  hack/generate_code.sh
  hack/update-generate.sh
Due: none

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  test-ce: any of: \.go$
  test-ee: any of: \.go$
