Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

fix cluster role
  templates/agent/rbac-for-us.yaml
Due: none

Update filtration
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bd/discoverer_test.go
  images/agent/internal/controller/bd/testdata/lsblk_mpath.json
  images/agent/internal/controller/bd/testdata/lsblk_mpath_partitioned.json
  images/agent/internal/controller/bd/testdata/lsblk_output.json
Due: go-generate, go-test-ce, go-test-ee

Add partitioned mpath cases in test suite
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bd/discoverer_test.go
  images/agent/internal/controller/bd/testdata/lsblk_mpath.json
  images/agent/internal/controller/bd/testdata/lsblk_mpath_partitioned.json
  images/agent/internal/controller/bd/testdata/lsblk_output.json
Due: go-generate, go-test-ce, go-test-ee

BlockDeviceFilter reconciler
  hack/cspell/terms.txt
  images/agent/cmd/main.go
  images/agent/internal/controller/bdf/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

missing license added
  images/agent/internal/controller/bdf/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

Fix module version choose
  .werf/bundle.yaml
  .werf/choose-edition.yaml
Due: none

Fix module version choose (#148)
  .werf/bundle.yaml
  .werf/choose-edition.yaml
Due: none

add hook: common-scheduler-extender-certs.go
  hooks/go/020-common-scheduler-extender-certs/common-scheduler-extender-certs.go
  hooks/go/consts/consts.go
  hooks/go/main.go
Due: go-generate, go-test-ce, go-test-ee

Revert "fix base_images.yml"
  .github/workflows/build_dev.yml
Due: none

removed filter hardcode
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] del src
  .werf/consts.yaml
  images/sds-common-scheduler-extender/LICENSE
  images/sds-common-scheduler-extender/cmd/access_log.go
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache.md
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/controller/drbd_cluster_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/kubutils/kubernetes.go
  images/sds-common-scheduler-extender/pkg/logger/logger.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
  images/sds-common-scheduler-extender/pkg/test.go
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix collectFilterInput method bug
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

changed namespace const value
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
Due: go-generate, go-test-ce, go-test-ee

middleware rework
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

minor logic update
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
Due: go-generate, go-test-ce, go-test-ee

Fix in CI
  .github/workflows/build_dev.yml
Due: none

fix ExtractLVGsFromSC method
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

add rbac
  images/sds-common-scheduler-extender/pkg/controller/drbd_cluster_watcher.go
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: go-generate, go-test-ce, go-test-ee

minor routes names fix
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
Due: go-generate, go-test-ce, go-test-ee

return nodes without filtration
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

minor cache manager fix
  images/sds-common-scheduler-extender/pkg/cache/manager.go
Due: go-generate, go-test-ce, go-test-ee

add local volume filtering
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

add more log
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

add http.HandlerFunc(
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

removed drbd syncer
  images/drbd-resource-sync/cmd/main.go
  images/drbd-resource-sync/config/config.go
  images/drbd-resource-sync/crd_sync/drbd_cluster.go
  images/drbd-resource-sync/go.mod
  images/drbd-resource-sync/go.sum
  images/drbd-resource-sync/pkg/kubeutils/kubernetes.go
  images/drbd-resource-sync/werf.inc.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

add init containers to deployment
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

[sds-common-scheduler-extender] fix configmap
  templates/sds-common-scheduler-extender/configmap.yaml
Due: none

change handling logic
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

add drbd cluster syncer
  images/drbd-cluster-sync/src/Dockerfile
  images/drbd-cluster-sync/src/cmd/main.go
  images/drbd-cluster-sync/src/config/config.go
  images/drbd-cluster-sync/src/crd_sync/drbd_cluster.go
  images/drbd-cluster-sync/src/go.mod
  images/drbd-cluster-sync/src/go.sum
  images/drbd-cluster-sync/src/pkg/kubeutils/kubernetes.go
  images/drbd-cluster-sync/werf.inc.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] templates are finished
  openapi/values_ce.yaml
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
  templates/sds-common-scheduler-extender/secret.yaml
  templates/sds-common-scheduler-extender/service.yaml
Due: none

fix middleware
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

change log level
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

add logging to collectLVGScoreInfo
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

hardcode log level
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

add 0 points to node 2
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

minor bug fix
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

deployment fix
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

typo fix
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

return nil
  images/drbd-resource-sync/crd_sync/drbd_cluster.go
Due: go-generate, go-test-ce, go-test-ee

fix filter namaged pvcs bug
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
