Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  .github/workflows/trivy_image_check.yaml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

cache fixes Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  .github/workflows/go_checks.yaml
Due: none

[agent] Fix BlockDeviceFilter crash on In/NotIn with empty values
  images/agent/internal/repository/client_block_device_filter.go
  images/agent/internal/repository/client_block_device_filter_test.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Fix RBAC for ReplicatedStorageClass/ReplicatedStoragePool and add debug tool
  .gitignore
  hack/debug.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Use request-scoped context with timeout in filter and prioritize handlers
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Fix available space race condition with stored offset approach
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache_test.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_and_score_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Fix thin pool totalCapacity computation and add thin pool tests
  images/sds-common-scheduler-extender/pkg/scheduler/filter_and_score_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

[api] Update RSC/RSP types to match current CRD and fix RSP name resolution
  api/v1alpha1/replicated_storage_class.go
  api/v1alpha1/replicated_storage_pool.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Fix unparam linter warnings in test helpers
  images/sds-common-scheduler-extender/pkg/scheduler/filter_and_score_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Use GetLV instead of cache after LVM mutations to avoid delays
  .gitignore
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/controller/llvs/reconciler_ee.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Fix BlockDeviceFilter crash on In/NotIn with empty values
  images/agent/internal/repository/client_block_device_filter.go
  images/agent/internal/repository/client_block_device_filter_test.go
  images/sds-common-scheduler-extender/go.mod
  templates/sds-common-scheduler-extender/deployment.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

[scheduler-extender, agent] Fix review findings
  images/agent/internal/controller/llv_extender/reconciler.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Return empty node list instead of 500 on scheduling-critical errors
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
Due: go-generate, go-test-ce, go-test-ee

feat: add automatic LVM VG/LV activation on agent startup and periodic scan
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/utils/activation.go
  images/agent/internal/utils/activation_test.go
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

tests Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .gitignore
  e2e/Dockerfile
  e2e/Makefile
  e2e/README.md
  e2e/config/test_exports_storage_e2e
  e2e/go.mod
  e2e/go.sum
  e2e/manifests/job.yaml
  e2e/manifests/rbac.yaml
  e2e/temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
  e2e/tests/cluster_config.yml
  e2e/tests/common_scheduler_suite_test.go
  e2e/tests/common_scheduler_test.go
  temp/common_scheduler_test/cluster-state.json
  temp/common_scheduler_test/kubeconfig-10.10.10.13.yml
  temp/common_scheduler_test/kubeconfig-10.10.10.14.yml
  temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix
  temp/sds_node_configurator_test/cluster-state.json
  temp/sds_node_configurator_test/kubeconfig-10.10.10.7.yml
  temp/sds_node_configurator_test/kubeconfig-94.26.231.181.yml
Due: none

feat: add automatic LVM VG/LV activation on agent startup and periodic scan (#200)
  images/agent/cmd/main.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/monitoring/monitoring.go
  images/agent/internal/scanner/scanner.go
  images/agent/internal/type.go
  images/agent/internal/utils/activation.go
  images/agent/internal/utils/activation_test.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
Due: go-generate, go-test-ce, go-test-ee

test added Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/config/test_exports_storage_e2e
  e2e/temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
  e2e/tests/common_scheduler_suite_test.go
  e2e/tests/common_scheduler_test.go
  temp/common_scheduler_test/cluster-state.json
  temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Add space reservation for replicated PVCs in filter/prioritize phases
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache_test.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_and_score.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/narrow_reservation_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated_reservation_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

disable LVM metadata autobackup
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Proportional replica scoring and comprehensive tests
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated_test.go
Due: go-generate, go-test-ce, go-test-ee

Revert "[scheduler-extender] Extend local PVC reservation TTL to 10 minutes"
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-generate, go-test-ce, go-test-ee

fix: remove label heritage:deckhouse from agent pods
  templates/agent/daemonset.yaml
Due: none

fix: remove label heritage:deckhouse from agent pods (#207)
  templates/agent/daemonset.yaml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/Dockerfile
  e2e/Makefile
  e2e/manifests/job.yaml
  e2e/manifests/rbac.yaml
  temp/common_scheduler_test/cluster-state.json
  temp/common_scheduler_test/kubeconfig-10.10.10.13.yml
  temp/common_scheduler_test/kubeconfig-10.10.10.14.yml
  temp/common_scheduler_test/kubeconfig-10.10.10.8.yml
  temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
Due: none

fix
  temp/common_scheduler_test/cluster-state.json
  temp/common_scheduler_test/kubeconfig-10.10.10.13.yml
  temp/common_scheduler_test/kubeconfig-10.10.10.14.yml
  temp/common_scheduler_test/kubeconfig-10.10.10.8.yml
  temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/README.md
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/README.md
Due: none

[internal] add e2e tests to CI (#196)
  .github/workflows/build_dev.yml
  .github/workflows/go_checks.yaml
  .github/workflows/trivy_image_check.yaml
  .gitignore
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/README.md
  e2e/go.mod
  e2e/go.sum
  e2e/tests/cluster_config.yml
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.64, Go 1.25.8, lib-helm 1.71.5
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.70.1.tgz
  charts/deckhouse_lib_helm-1.71.5.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
