Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

[internal] add metrics
  templates/agent/service.yaml
Due: none

[internal] add metrics
  templates/agent/podmonitor.yaml
Due: none

Fixes for dmt linter
  module.yaml
  templates/agent/rbac-to-us.yaml
Due: none

Fixed metrics
  images/agent/internal/monitoring/monitoring.go
Due: go-generate, go-test-ce, go-test-ee

Fixed metrics
  images/agent/internal/cache/cache.go
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/monitoring/monitoring.go
  images/agent/internal/scanner/scanner.go
Due: go-generate, go-test-ce, go-test-ee

Fixed metrics
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/monitoring/monitoring.go
Due: go-generate, go-test-ce, go-test-ee

[CRD] udate the regexp for actualLVNameOnTheNode
  crds/lvmlogicalvolume.yaml
Due: none

Fixed metrics
  images/agent/cmd/llvs_ee.go
  images/agent/internal/cache/cache.go
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bdf/reconciler.go
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/controller/llvs/reconciler_ee.go
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/monitoring/monitoring.go
  images/agent/internal/repository/client_bd.go
  images/agent/internal/repository/client_block_device_filter.go
  images/agent/internal/repository/client_block_device_filter_test.go
  images/agent/internal/repository/client_lvg.go
  images/agent/internal/scanner/scanner.go
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

[internal] add metrics (#171)
  images/agent/cmd/llvs_ee.go
  images/agent/cmd/main.go
  images/agent/internal/cache/cache.go
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bdf/reconciler.go
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/controller/llvs/reconciler_ee.go
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/monitoring/monitoring.go
  images/agent/internal/repository/client_bd.go
  images/agent/internal/repository/client_block_device_filter.go
  images/agent/internal/repository/client_block_device_filter_test.go
  images/agent/internal/repository/client_lvg.go
  images/agent/internal/scanner/scanner.go
  images/agent/internal/utils/commands.go
  module.yaml
  templates/agent/daemonset.yaml
  templates/agent/podmonitor.yaml
  templates/agent/rbac-for-us.yaml
  templates/agent/rbac-to-us.yaml
Due: go-generate, go-test-ce, go-test-ee

trigger for build
  .gitignore
Due: none

refactor(controller): use lib-helm module controller templates
  images/controller/LICENSE
  images/controller/cmd/main.go
  images/controller/config/config.go
  images/controller/config/config_test.go
  images/controller/go.mod
  images/controller/go.sum
  images/controller/internal/const.go
  images/controller/mount-points.yaml
  images/controller/pkg/controller/block_device_labels_watcher.go
  images/controller/pkg/controller/block_device_labels_watcher_test.go
  images/controller/pkg/controller/lvg_conditions_watcher.go
  images/controller/pkg/controller/lvg_conditions_watcher_funcs.go
  images/controller/pkg/controller/lvg_conditions_watcher_test.go
  images/controller/pkg/controller/lvg_status_watcher.go
  images/controller/pkg/controller/lvm_volume_group_set_watcher.go
  images/controller/pkg/controller/mc_watcher.go
  images/controller/pkg/controller/sds_infra_watcher.go
  images/controller/pkg/controller/sds_infra_watcher_funcs.go
  images/controller/pkg/controller/sds_infra_watcher_test.go
  images/controller/pkg/kubutils/kubernetes.go
  images/controller/pkg/logger/logger.go
  images/controller/pkg/monitoring/monitoring.go
  images/controller/werf.inc.yaml
  templates/controller/controller.yaml
  templates/controller/rbac-for-us.yaml
  templates/controller/service.yaml
  templates/controller/servicemonitor.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

refactor(controller): use lib-helm module controller templates
  images/agent/internal/const.go
  images/controller/config/config.go
Due: go-generate, go-test-ce, go-test-ee

refactor(controller): use lib-helm module controller templates
  templates/controller/rbac-for-us.yaml
Due: none

refactor(controller): use lib-helm module controller templates
  templates/agent/daemonset.yaml
Due: none

refactor(controller): use lib-helm module controller templates
  templates/controller/controller.yaml
Due: none

refactor(controller): use lib-helm module controller templates
  charts/deckhouse_lib_helm-1.69.1.tgz
  charts/helm_lib/Chart.yaml
  charts/helm_lib/LICENSE
  charts/helm_lib/README.md
  charts/helm_lib/templates/_admission_client_ca.tpl
  charts/helm_lib/templates/_api_version_and_kind.tpl
  charts/helm_lib/templates/_application_image.tpl
  charts/helm_lib/templates/_application_security_context.tpl
  charts/helm_lib/templates/_csi_controller.tpl
  charts/helm_lib/templates/_csi_node.tpl
  charts/helm_lib/templates/_dns_policy.tpl
  charts/helm_lib/templates/_enable_ds_eviction.tpl
  charts/helm_lib/templates/_envs_for_proxy.tpl
  charts/helm_lib/templates/_high_availability.tpl
  charts/helm_lib/templates/_kube_rbac_proxy.tpl
  charts/helm_lib/templates/_module_controller.tpl
  charts/helm_lib/templates/_module_documentation_uri.tpl
  charts/helm_lib/templates/_module_ephemeral_storage.tpl
  charts/helm_lib/templates/_module_generate_common_name.tpl
  charts/helm_lib/templates/_module_https.tpl
  charts/helm_lib/templates/_module_image.tpl
  charts/helm_lib/templates/_module_ingress_class.tpl
  charts/helm_lib/templates/_module_ingress_snippets.tpl
  charts/helm_lib/templates/_module_init_container.tpl
  charts/helm_lib/templates/_module_labels.tpl
  charts/helm_lib/templates/_module_name.tpl
  charts/helm_lib/templates/_module_public_domain.tpl
  charts/helm_lib/templates/_module_security_context.tpl
  charts/helm_lib/templates/_module_storage_class.tpl
  charts/helm_lib/templates/_monitoring_grafana_dashboards.tpl
  charts/helm_lib/templates/_monitoring_prometheus_rules.tpl
  charts/helm_lib/templates/_node_affinity.tpl
  charts/helm_lib/templates/_pod_disruption_budget.tpl
  charts/helm_lib/templates/_priority_class.tpl
  charts/helm_lib/templates/_resources_management.tpl
  charts/helm_lib/templates/_spec_for_high_availability.tpl
  templates/controller/controller.yaml
Due: none

refactor(controller): use lib-helm module controller templates
  charts/helm_lib/Chart.yaml
  charts/helm_lib/LICENSE
  charts/helm_lib/README.md
  charts/helm_lib/templates/_admission_client_ca.tpl
  charts/helm_lib/templates/_api_version_and_kind.tpl
  charts/helm_lib/templates/_application_image.tpl
  charts/helm_lib/templates/_application_security_context.tpl
  charts/helm_lib/templates/_csi_controller.tpl
  charts/helm_lib/templates/_csi_node.tpl
  charts/helm_lib/templates/_dns_policy.tpl
  charts/helm_lib/templates/_enable_ds_eviction.tpl
  charts/helm_lib/templates/_envs_for_proxy.tpl
  charts/helm_lib/templates/_high_availability.tpl
  charts/helm_lib/templates/_kube_rbac_proxy.tpl
  charts/helm_lib/templates/_module_controller.tpl
  charts/helm_lib/templates/_module_documentation_uri.tpl
  charts/helm_lib/templates/_module_ephemeral_storage.tpl
  charts/helm_lib/templates/_module_generate_common_name.tpl
  charts/helm_lib/templates/_module_https.tpl
  charts/helm_lib/templates/_module_image.tpl
  charts/helm_lib/templates/_module_ingress_class.tpl
  charts/helm_lib/templates/_module_ingress_snippets.tpl
  charts/helm_lib/templates/_module_init_container.tpl
  charts/helm_lib/templates/_module_labels.tpl
  charts/helm_lib/templates/_module_name.tpl
  charts/helm_lib/templates/_module_public_domain.tpl
  charts/helm_lib/templates/_module_security_context.tpl
  charts/helm_lib/templates/_module_storage_class.tpl
  charts/helm_lib/templates/_monitoring_grafana_dashboards.tpl
  charts/helm_lib/templates/_monitoring_prometheus_rules.tpl
  charts/helm_lib/templates/_node_affinity.tpl
  charts/helm_lib/templates/_pod_disruption_budget.tpl
  charts/helm_lib/templates/_priority_class.tpl
  charts/helm_lib/templates/_resources_management.tpl
  charts/helm_lib/templates/_spec_for_high_availability.tpl
  templates/controller/controller.yaml
  templates/controller/service.yaml
Due: none

refactor(controller): use lib-helm module controller templates
  charts/deckhouse_lib_helm-1.69.1.tgz
  charts/deckhouse_lib_helm-1.69.2.tgz
  charts/helm_lib/Chart.yaml
  charts/helm_lib/LICENSE
  charts/helm_lib/README.md
  charts/helm_lib/templates/_admission_client_ca.tpl
  charts/helm_lib/templates/_api_version_and_kind.tpl
  charts/helm_lib/templates/_application_image.tpl
  charts/helm_lib/templates/_application_security_context.tpl
  charts/helm_lib/templates/_csi_controller.tpl
  charts/helm_lib/templates/_csi_node.tpl
  charts/helm_lib/templates/_dns_policy.tpl
  charts/helm_lib/templates/_enable_ds_eviction.tpl
  charts/helm_lib/templates/_envs_for_proxy.tpl
  charts/helm_lib/templates/_high_availability.tpl
  charts/helm_lib/templates/_kube_rbac_proxy.tpl
  charts/helm_lib/templates/_module_controller.tpl
  charts/helm_lib/templates/_module_documentation_uri.tpl
  charts/helm_lib/templates/_module_ephemeral_storage.tpl
  charts/helm_lib/templates/_module_generate_common_name.tpl
  charts/helm_lib/templates/_module_https.tpl
  charts/helm_lib/templates/_module_image.tpl
  charts/helm_lib/templates/_module_ingress_class.tpl
  charts/helm_lib/templates/_module_ingress_snippets.tpl
  charts/helm_lib/templates/_module_init_container.tpl
  charts/helm_lib/templates/_module_labels.tpl
  charts/helm_lib/templates/_module_name.tpl
  charts/helm_lib/templates/_module_public_domain.tpl
  charts/helm_lib/templates/_module_security_context.tpl
  charts/helm_lib/templates/_module_storage_class.tpl
  charts/helm_lib/templates/_monitoring_grafana_dashboards.tpl
  charts/helm_lib/templates/_monitoring_prometheus_rules.tpl
  charts/helm_lib/templates/_node_affinity.tpl
  charts/helm_lib/templates/_pod_disruption_budget.tpl
  charts/helm_lib/templates/_priority_class.tpl
  charts/helm_lib/templates/_resources_management.tpl
  charts/helm_lib/templates/_spec_for_high_availability.tpl
Due: none

refactor(controller): use lib-helm module controller templates (#186)
  charts/deckhouse_lib_helm-1.68.2.tgz
  charts/deckhouse_lib_helm-1.69.2.tgz
  images/agent/internal/const.go
  images/controller/LICENSE
  images/controller/cmd/main.go
  images/controller/config/config.go
  images/controller/config/config_test.go
  images/controller/go.mod
  images/controller/go.sum
  images/controller/internal/const.go
  images/controller/mount-points.yaml
  images/controller/pkg/controller/block_device_labels_watcher.go
  images/controller/pkg/controller/block_device_labels_watcher_test.go
  images/controller/pkg/controller/lvg_conditions_watcher.go
  images/controller/pkg/controller/lvg_conditions_watcher_funcs.go
  images/controller/pkg/controller/lvg_conditions_watcher_test.go
  images/controller/pkg/controller/lvg_status_watcher.go
  images/controller/pkg/controller/lvm_volume_group_set_watcher.go
  images/controller/pkg/controller/mc_watcher.go
  images/controller/pkg/controller/sds_infra_watcher.go
  images/controller/pkg/controller/sds_infra_watcher_funcs.go
  images/controller/pkg/controller/sds_infra_watcher_test.go
  images/controller/pkg/kubutils/kubernetes.go
  images/controller/pkg/logger/logger.go
  images/controller/pkg/monitoring/monitoring.go
  images/controller/werf.inc.yaml
  templates/agent/daemonset.yaml
  templates/controller/controller.yaml
  templates/controller/rbac-for-us.yaml
  templates/controller/servicemonitor.yaml
  templates/sds-health-watcher-controller/deployment.yaml
  templates/sds-health-watcher-controller/rbac-for-us.yaml
  templates/sds-health-watcher-controller/secret.yaml
  templates/sds-health-watcher-controller/service.yaml
  templates/sds-health-watcher-controller/webhook.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

feature(CI): add gitleaks support
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
Due: none

feature(CI): add gitleaks support (#187)
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
Due: none

fix(docs): update descriptions in module.yaml
  module.yaml
Due: none

Signed-off-by: v.oleynikov <vasily.oleynikov@flant.com>
  werf-giterminism.yaml
Due: none

Add renovate.json
  renovate.json
Due: none

feature(CI): add anitvirus and changelog support, lib-helm update
  .github/workflows/antivirus_scan.yml
  .github/workflows/merge-and-release.yml
  .github/workflows/translate-changelog.yml
  .gitleaks-cse.toml
  charts/deckhouse_lib_helm-1.69.2.tgz
  charts/deckhouse_lib_helm-1.70.1.tgz
Due: none

feature(CI): add anitvirus and changelog support, lib-helm update (#191)
  .github/workflows/antivirus_scan.yml
  .github/workflows/merge-and-release.yml
  .github/workflows/translate-changelog.yml
  .gitleaks-cse.toml
  charts/deckhouse_lib_helm-1.69.2.tgz
  charts/deckhouse_lib_helm-1.70.1.tgz
Due: none

chore: update module-sdk to v0.7.0 in hooks
  hooks/go/go.mod
  hooks/go/go.sum
Due: go-mod-tidy

feature(CI): update module-sdk and remove unnecessary hook
  module.yaml
Due: none

added E2E test Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/Makefile
  e2e/README.md
  e2e/go.mod
  e2e/scripts/cleanup-test-device.sh
  e2e/scripts/prepare-test-device.sh
  e2e/tests/block_device_discovery_suite_test.go
  e2e/tests/block_device_discovery_test.go
  e2e/tests/helpers.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fixes Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/go.mod
  e2e/go.sum
  e2e/tests/block_device_discovery_suite_test.go
  e2e/tests/block_device_discovery_test.go
  e2e/tests/helpers.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

chore: update module-sdk to v0.7.0 in hooks (#192)
  hooks/go/go.mod
  hooks/go/go.sum
  module.yaml
Due: go-mod-tidy

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/Makefile
  e2e/README.md
  e2e/scripts/cleanup-test-device.sh
  e2e/scripts/prepare-test-device.sh
  e2e/tests/block_device_discovery_suite_test.go
  e2e/tests/block_device_discovery_test.go
  e2e/tests/helpers.go
Due: go-generate, go-test-ce, go-test-ee
