Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

docs(agent): document why ProcHostMountInfo reads /proc/1/mountinfo Add comment explaining the hostPID: true dependency and remove unrelated caller-context remark from ParseMountInfo godoc.
  images/agent/internal/utils/mountinfo.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Add replica locality awareness for replicated volume (#231)
  api/v1alpha1/const.go
  api/v1alpha1/register.go
  api/v1alpha1/replicated_storage_class.go
  api/v1alpha1/replicated_storage_pool.go
  images/agent/internal/controller/llv/reconciler_test.go
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated_test.go
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

feat(agent): add mountinfo parser for mount-point detection (#234)
  images/agent/internal/utils/mountinfo.go
  images/agent/internal/utils/mountinfo_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Add sysfs readers and udev property parsers for netlink-based device discovery
  images/agent/internal/udev/properties.go
  images/agent/internal/udev/properties_test.go
  images/agent/internal/udev/sysfs.go
  images/agent/internal/udev/sysfs_test.go
Due: go-generate, go-test-ce, go-test-ee

refactor(udev): rename UdevProperties to Properties, add ErrUnknownAction sentinel
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/properties.go
  images/agent/internal/udev/properties_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(udev): add udev property parsers and DeviceMap event store
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/properties.go
  images/agent/internal/udev/properties_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/Makefile
Due: none

[internal] Add e2e tests (#236)
  .github/workflows/build_dev.yml
  e2e/Makefile
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.69, lib-helm 1.71.9
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.8.tgz
  charts/deckhouse_lib_helm-1.71.9.tgz
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
Due: go-mod-tidy

e2e: add blockdevice regression scenarios
  e2e/README.md
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

style(e2e): use strconv.Itoa for fake BlockDevice name
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

e2e: add blockdevice regression scenarios (#235)
  e2e/README.md
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.69, lib-helm 1.71.9 (#240)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.71.8.tgz
  charts/deckhouse_lib_helm-1.71.9.tgz
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
Due: go-mod-tidy

fix(udev): address PR 238 review feedback
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/properties.go
Due: go-generate, go-test-ce, go-test-ee

feat(udev): add udev DB reader and FillFromCrawler for device map
  images/agent/go.mod
  images/agent/go.sum
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/udevdb.go
  images/agent/internal/udev/udevdb_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix(udev): guard empty key in ReadUdevDB, add missing tests
  images/agent/internal/udev/udevdb.go
  images/agent/internal/udev/udevdb_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(udev): address PR 239 review feedback
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/properties.go
  images/agent/internal/udev/udevdb.go
Due: go-generate, go-test-ce, go-test-ee

[werf] Bundle generate_release_notes.py from the repo, drop curl-from-GitHub
  .werf/bundle.yaml
  hack/generate_release_notes.py
Due: none

[ci] Sync antivirus_scan workflow with deckhouse/modules-actions/antivirus_scan/*@v8
  .github/workflows/antivirus_scan.yml
Due: none

Vendor generate_release_notes.py and sync antivirus_scan workflow (#241)
  .github/workflows/antivirus_scan.yml
  .werf/bundle.yaml
  hack/generate_release_notes.py
Due: none

[images] Add missing mount points for sds-node-configurator agent image
  images/agent/mount-points.yaml
Due: none

[images] Drop /sys mount points from sds-node-configurator agent mount-points.yaml
  images/agent/mount-points.yaml
Due: none

fix(CI): regular CVE scan limitations fix
  .github/workflows/trivy_image_check.yaml
Due: none

fix(CI): regular CVE scan limitations fix (#243)
  .github/workflows/trivy_image_check.yaml
Due: none

changelog: v0.6.1
  CHANGELOG/v0.6.1.ru.yml
Due: none

[module] Bump deckhouse requirement to >= 1.72
  module.yaml
Due: none

fix(controller): atomically update LVG ready condition and phase
  images/controller/pkg/controller/lvg_conditions_watcher.go
  images/controller/pkg/controller/lvg_conditions_watcher_funcs.go
  images/controller/pkg/controller/lvg_conditions_watcher_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): keep suite running on failure, collect per-spec reports
  .github/workflows/build_dev.yml
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

chore(hack): add go-lint.sh mirroring CI go_linter action
  .gitignore
  hack/go-lint.sh
Due: none

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
