Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

change middleware order
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

fix log
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

removed linstor client and its envs
  images/drbd-resource-sync/src/cmd/main.go
  images/drbd-resource-sync/src/crd_sync/drbd_cluster.go
  templates/sds-common-scheduler-extender/deployment.yaml
Due: go-generate, go-test-ce, go-test-ee

Fix in CI
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
Due: none

add new consts
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

fix log
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

fix middleware again
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

change check duration
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

add rbac
  templates/agent/rbac-for-us.yaml
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

major scheduler refactor
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

change LvmTypeParamKey name
  images/sds-common-scheduler-extender/pkg/consts/consts.go
Due: go-generate, go-test-ce, go-test-ee

bug fix in method filterPVCsByProvisioner
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

add new logic
  images/drbd-cluster-sync/src/Dockerfile
  images/drbd-cluster-sync/src/cmd/main.go
  images/drbd-cluster-sync/src/config/config.go
  images/drbd-cluster-sync/src/crd_sync/drbd_cluster.go
  images/drbd-cluster-sync/src/go.mod
  images/drbd-cluster-sync/src/go.sum
  images/drbd-cluster-sync/src/pkg/kubeutils/kubernetes.go
  images/drbd-cluster-sync/werf.inc.yaml
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/controller/drbd_cluster_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

werf fix
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: none

add bebug
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
Due: go-generate, go-test-ce, go-test-ee

add mocks
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

add cluster syncer
  images/drbd-resource-sync/src/Dockerfile
  images/drbd-resource-sync/src/cmd/main.go
  images/drbd-resource-sync/src/config/config.go
  images/drbd-resource-sync/src/crd_sync/drbd_cluster.go
  images/drbd-resource-sync/src/go.mod
  images/drbd-resource-sync/src/go.sum
  images/drbd-resource-sync/src/pkg/kubeutils/kubernetes.go
  images/werf.inc.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

add configmap rbac
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

add new getDRBDNodesMap method logic
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

add sds-common-scheduler-extender templates
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
  templates/sds-common-scheduler-extender/secret.yaml
  templates/sds-common-scheduler-extender/service.yaml
Due: none

add local sc to cheme
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

Fix build
  images/drbd-resource-sync/cmd/main.go
  images/drbd-resource-sync/config/config.go
  images/drbd-resource-sync/crd_sync/drbd_cluster.go
  images/drbd-resource-sync/go.mod
  images/drbd-resource-sync/go.sum
  images/drbd-resource-sync/pkg/kubeutils/kubernetes.go
  images/drbd-resource-sync/src/Dockerfile
  images/drbd-resource-sync/werf.inc.yaml
  images/werf.inc.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] fix templates
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
  templates/sds-common-scheduler-extender/secret.yaml
Due: none

fix base_images.yml
  .github/workflows/build_dev.yml
Due: none

remove logging, add new handler
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

added logging to filter and prioritize
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

Fix in CI
  .github/workflows/build_dev.yml
Due: none

add more rbac
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

add /status route + fix routes' names
  images/sds-common-scheduler-extender/pkg/logger/logger.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
Due: go-generate, go-test-ce, go-test-ee

fix filterPVCsByProvisioner method
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] add checksum/ca to deploy
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

add middleware
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

add middleware
  images/sds-common-scheduler-extender/cmd/access_log.go
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] fix path to certs
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

add space reservation remocal
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee
