Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

feat(e2e): add DeviceMap recovery test after agent downtime attach
  e2e/tests/block_device_host_mountinfo_helpers_test.go
  e2e/tests/block_device_host_mountinfo_test.go
  e2e/tests/cluster_config.ci.yml
  e2e/tests/cluster_config.yml
  e2e/tests/helpers_agent_test.go
  e2e/tests/sds_node_configurator_helpers_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix: restore blockDevice description in Russian LVMVolumeGroup docs
  crds/doc-ru-lvmvolumegroup.yaml
Due: none

chore: sync base-images v2.0.1, lib-helm 1.72.14
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.72.13.tgz
  charts/deckhouse_lib_helm-1.72.14.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
Due: go-mod-tidy

fix(templates): gate optional resources on CRD presence, not the module list
  templates/agent/daemonset.yaml
  templates/agent/podmonitor.yaml
  templates/controller/servicemonitor.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

refactor(templates): route CRD-presence checks through helm_lib_api_version_exists
  templates/agent/daemonset.yaml
  templates/agent/podmonitor.yaml
  templates/controller/servicemonitor.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

chore: sync base-images v2.1.0, lib-helm 1.72.14
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.72.13.tgz
  charts/deckhouse_lib_helm-1.72.14.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
Due: go-mod-tidy

chore: sync base-images v2.1.1, lib-helm 1.72.14
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  charts/deckhouse_lib_helm-1.72.13.tgz
  charts/deckhouse_lib_helm-1.72.14.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
Due: go-mod-tidy

fix(agent): one orphaned device-mapper node must not stop all BlockDevice discovery
  e2e/framework/exec.go
  e2e/framework/lvmwipe.go
  e2e/framework/lvmwipe_test.go
  e2e/tests/controller_restart_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/orphaned_parent_test.go
Due: go-generate, go-test-ce, go-test-ee

docs(crds): add the missing Russian description for status.extentSize
  crds/doc-ru-lvmvolumegroup.yaml
Due: none

fix(agent): fall back to the inherited serial when direct lookup fails
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): add BlockDevice type-detection and host-mountinfo coverage
  .github/workflows/e2e-tests.yml
  .gitignore
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/README.md
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/tests/block_device_host_mountinfo_helpers_test.go
  e2e/tests/block_device_host_mountinfo_test.go
  e2e/tests/block_device_types_helpers_test.go
  e2e/tests/block_device_types_test.go
  e2e/tests/stress_max_vgs_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(agent): bring the agent to the nodes of a shared SCSI pool
  templates/agent/daemonset.yaml
Due: none

fix(lvm): a device already in the group is an extension that succeeded
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_benign_stderr_test.go
  images/agent/internal/utils/export_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(lsvg): grow a pool when its spec gains a LUN
  images/agent/internal/controller/lsvg/barrier.go
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
  images/agent/internal/controller/lsvg/teardown_test.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

fix(agent): read the heartbeat lease without a cache
  images/agent/cmd/main.go
  images/agent/internal/heartbeat/heartbeat.go
  templates/agent/rbac-for-us.yaml
Due: go-generate, go-test-ce, go-test-ee

feat(agent): create the volume group of a shared pool
  images/agent/internal/const.go
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/sharedpv.go
  images/agent/internal/utils/sharedpv_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(lsvg): key the lockspace fact on the group's identity, not its name
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

Revert "give the LUNs back without a reservation when the pool is removed"
  images/agent/internal/controller/lsvg/teardown.go
  images/agent/internal/controller/lsvg/teardown_test.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

fix(lsvg): start the lockspace in the same pass that disowned it
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(llv): refuse to touch a logical volume in a shared group
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/utils/loopvg.go
  images/agent/internal/utils/loopvg_ownership_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(lsvg): release mappings nobody asked for when the lockspace starts
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
  images/agent/internal/utils/sharedpv.go
Due: go-generate, go-test-ce, go-test-ee

fix(lvm): recognise a shared volume group by its lock type, not by vg_shared
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/type.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/loopvg.go
  images/agent/internal/utils/loopvg_ownership_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(pr): a member that steps aside stops saying its lockspace is running
  images/agent/internal/controller/lsvg/persist_switch.go
  images/agent/internal/controller/lsvg/persist_switch_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(pr): publish the key, and give it to multipathd
  images/agent/internal/const.go
  images/agent/internal/controller/lsvg/barrier.go
  images/agent/internal/controller/lsvg/persist.go
  images/agent/internal/controller/lsvg/persist_evict_test.go
  images/agent/internal/controller/lsvg/reconciler_test.go
  images/agent/internal/controller/lsvg/vguuid_test.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/persist.go
Due: go-generate, go-test-ce, go-test-ee

fix(lsllv): ask lvm whether the volume exists before creating it
  images/agent/internal/controller/lsllv/reconciler.go
  images/agent/internal/controller/lsllv/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(pr): spell the multipathd command the way multipathd spells it
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/persist.go
  images/agent/internal/utils/persist_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(pr): a node reports the reservation channel it can see
  crds/doc-ru-lvmsharedvolumegroup.yaml
  crds/lvmsharedvolumegroup.yaml
  images/agent/internal/const.go
  images/agent/internal/controller/lsvg/barrier.go
  images/agent/internal/controller/lsvg/persist.go
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
  images/agent/internal/controller/lsvg/vguuid_test.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/sharedpv.go
Due: go-generate, go-test-ce, go-test-ee

fix(lsvg): remove a mapping by asking device-mapper, not by looking first
  images/agent/internal/controller/lsvg/barrier.go
  images/agent/internal/controller/lsvg/barrier_test.go
  images/agent/internal/controller/lsvg/reconciler.go
  images/agent/internal/controller/lsvg/reconciler_test.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_benign_stderr_test.go
  images/agent/internal/utils/export_test.go
  images/agent/internal/utils/sharedpv.go
Due: go-generate, go-test-ce, go-test-ee

fix(shared): turn lvm's archive off for shared-group commands
  images/agent/internal/const.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/sharedpv_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(pr): keep where a node stands across a restart, and treat keys as mutable
  images/agent/internal/controller/lsvg/barrier.go
  images/agent/internal/controller/lsvg/persist.go
  images/agent/internal/controller/lsvg/persist_evict.go
  images/agent/internal/controller/lsvg/persist_evict_test.go
  images/agent/internal/controller/lsvg/persist_switch.go
  images/agent/internal/controller/lsvg/persist_switch_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(rbac): move the note out of the dict expression
  templates/controller/rbac-for-us.yaml
Due: none

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
