Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

API added
  api/go.mod
  api/go.sum
  api/tools.go
  api/v1alpha1/block_device_filter.go
  crds/filter/storage.deckhouse.io_blockdevicefilters.yaml
  images/agent/go.mod
  images/agent/go.sum
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/go.sum
  images/webhooks/go.mod
  images/webhooks/go.sum
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

Fixing by review comments
  api/v1alpha1/block_device_filter.go
  crds/filter/storage.deckhouse.io_blockdevicefilters.yaml
Due: go-generate, go-test-ce, go-test-ee

Update deepcopy generation
  api/v1alpha1/block_device.go
  api/v1alpha1/block_device_filter.go
  api/v1alpha1/lvm_logical_volume.go
  api/v1alpha1/lvm_volume_group.go
  api/v1alpha1/lvm_volume_group_set.go
  api/v1alpha1/register.go
  api/v1alpha1/zz_generated.deepcopy.go
  api/v1alpha1/zz_generated_lvm_logical_volume_snapshot.deepcopy.go
Due: go-generate, go-test-ce, go-test-ee

TODO added
  images/agent/internal/controller/bd/discoverer.go
Due: go-generate, go-test-ce, go-test-ee

switch to base images
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/go_checks.yaml
  .github/workflows/go_lint.yaml
  .github/workflows/go_modules_check.yaml
  .github/workflows/go_tests.yaml
  .github/workflows/trivy_check.yaml
  .github/workflows/trivy_image_check.yaml
  .werf/base-images.yaml
  .werf/bundle.yaml
  .werf/images-digests.yaml
  .werf/python-deps.yaml
  .werf/release.yaml
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
  werf-giterminism.yaml
  werf.yaml
Due: none

switch to base images
  module.yaml
Due: none

switch to base images
  templates/namespace.yaml
  templates/webhooks/deployment.yaml
Due: none

switch to base images
  templates/agent/rbac-for-us.yaml
  templates/webhooks/service.yaml
  templates/webhooks/webhook.yaml
Due: none

switch to base images
  .werf/consts.yaml
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/sds-health-watcher-controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy

switch to base images
  .dmtlint.yaml
Due: none

switch to base images
  templates/agent/daemonset.yaml
Due: none

switch to base images
  templates/agent/daemonset.yaml
  templates/agent/rbac-for-us.yaml
Due: none

switch to base images
  hack/generate_code.sh
  hooks/go/020-webhook-certs/webhook-certs.go
  hooks/go/consts/consts.go
  hooks/go/main.go
  templates/agent/daemonset.yaml
Due: go-generate, go-test-ce, go-test-ee

switch to base images
  hack/for-each-mod
  templates/agent/daemonset.yaml
  templates/sds-health-watcher-controller/deployment.yaml
Due: none

switch to base images
  module.yaml
  requirements.lock
Due: none

Implementation. Tests are moved
  api/v1alpha1/block_device_filter.go
  api/v1alpha1/zz_generated.deepcopy.go
  images/agent/internal/block_device_candidate.go
  images/agent/internal/block_device_candidate_test.go
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bd/discoverer_test.go
  images/agent/internal/internal_test.go
  images/agent/internal/type.go
  images/agent/internal/utils/client_block_device_filter.go
Due: go-generate, go-test-ce, go-test-ee

naming
  images/agent/internal/block_device_candidate_test.go
Due: go-generate, go-test-ce, go-test-ee

Fix the empty device list bug
  api/v1alpha1/register.go
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

switch to base images
  .github/workflows/build_dev.yml
Due: none

More test cases
  images/agent/internal/controller/bd/discoverer_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

add sds-common-scheduler-extender template
  images/sds-common-scheduler-extender/src/cmd/access_log.go
  images/sds-common-scheduler-extender/src/cmd/main.go
  images/sds-common-scheduler-extender/src/go.mod
  images/sds-common-scheduler-extender/src/go.sum
  images/sds-common-scheduler-extender/src/pkg/cache/cache.go
  images/sds-common-scheduler-extender/src/pkg/cache/cache.md
  images/sds-common-scheduler-extender/src/pkg/cache/manager.go
  images/sds-common-scheduler-extender/src/pkg/consts/consts.go
  images/sds-common-scheduler-extender/src/pkg/controller/drbd_cluster_watcher.go
  images/sds-common-scheduler-extender/src/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/src/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/src/pkg/kubutils/kubernetes.go
  images/sds-common-scheduler-extender/src/pkg/logger/logger.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/filter_doc.md
  images/sds-common-scheduler-extender/src/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/prioritize_doc.md
  images/sds-common-scheduler-extender/src/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/route.go
  images/sds-common-scheduler-extender/src/pkg/scheduler/types.go
  images/sds-common-scheduler-extender/src/pkg/test.go
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] del src
  .werf/consts.yaml
  images/sds-common-scheduler-extender/LICENSE
  images/sds-common-scheduler-extender/cmd/access_log.go
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache.md
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/controller/drbd_cluster_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/kubutils/kubernetes.go
  images/sds-common-scheduler-extender/pkg/logger/logger.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
  images/sds-common-scheduler-extender/pkg/test.go
  images/sds-common-scheduler-extender/werf.inc.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] replace pkg name
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/controller/drbd_cluster_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

add sds-common-scheduler-extender templates
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
  templates/sds-common-scheduler-extender/secret.yaml
  templates/sds-common-scheduler-extender/service.yaml
Due: none

[sds-common-scheduler-extender] templates are finished
  openapi/values.yaml
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
  templates/sds-common-scheduler-extender/secret.yaml
  templates/sds-common-scheduler-extender/service.yaml
Due: none

[sds-common-scheduler-extender] fix configmap
  templates/sds-common-scheduler-extender/configmap.yaml
Due: none

Cases with existing devices
  images/agent/internal/block_device_candidate.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

add hook: common-scheduler-extender-certs.go
  hooks/go/020-common-scheduler-extender-certs/common-scheduler-extender-certs.go
  hooks/go/consts/consts.go
  hooks/go/main.go
Due: go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] fix templates
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
  templates/sds-common-scheduler-extender/secret.yaml
Due: none

Check other node devices are not touched by this one
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] fix path to certs
  images/sds-common-scheduler-extender/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

filter tests are added
  images/agent/internal/controller/bd/discoverer_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

add kube client to cache manager
  images/sds-common-scheduler-extender/pkg/cache/manager.go
Due: go-generate, go-test-ce, go-test-ee

minor cache manager fix
  images/sds-common-scheduler-extender/pkg/cache/manager.go
Due: go-generate, go-test-ce, go-test-ee

[sds-common-scheduler-extender] del RoleBinding
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none
