Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

chore(e2e): remove outdated E2E smoke test configurations from CI workflows
  .github/workflows/build_dev.yml
  .github/workflows/trivy_image_check.yaml
Due: none

fix(agent): extend cloned/restored LV to the requested size
  e2e/tests/lvmlogicalvolume_clone_test.go
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

ci(gitleaks): extend the centralized config and move the action to v16
  .github/workflows/gitleaks-scan-on-pr.yml
  .github/workflows/gitleaks-scan-on-schedule.yml
  .gitleaks.toml
Due: none

chore: sync base-images v1.3.20, lib-helm 1.72.11
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.10.tgz
  charts/deckhouse_lib_helm-1.72.11.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

fix(agent): tolerate one-extent thin-pool rounding in LVG update validation
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): fix flaky block-device-discovery serial cross-check on non-root nodes
  e2e/tests/block_device_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): fix flaky LVMVolumeGroup "not consumable" validation spec
  e2e/tests/lvmvolumegroup_validation_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): make block-device-stability spec robust to shared-node contamination
  e2e/tests/block_device_stable_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): make scheduler-extender cleanup robust to leftover state between runs
  e2e/tests/scheduler_extender_test.go
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): enhance block-device stability tests and improve volume scheduling logic
  e2e/tests/block_device_stable_test.go
  e2e/tests/scheduler_extender_test.go
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): plan scheduler-extender consolidated fill per-LVG (deterministic)
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v1.3.20, lib-helm 1.72.12
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.10.tgz
  charts/deckhouse_lib_helm-1.72.12.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

test(e2e): restart the agent via the shared restartAgentOnNode helper
  e2e/tests/block_device_stable_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v1.3.21, lib-helm 1.72.12
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.10.tgz
  charts/deckhouse_lib_helm-1.72.12.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

feat(scheduler-extender): add extra-pvcs annotation key and CSV parser
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/scheduler/extra_pvcs_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

test(scheduler-extender): cover annotation PVCs through the filter handler
  images/sds-common-scheduler-extender/pkg/scheduler/extra_pvcs_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(scheduler-extender): take PVCs from the extra-pvcs pod annotation
  images/sds-common-scheduler-extender/pkg/scheduler/extra_pvcs_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(scheduler-extender): aggregate warning, dedupe test consts, fix comments
  images/sds-common-scheduler-extender/pkg/scheduler/extra_pvcs_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
Due: go-generate, go-test-ce, go-test-ee

test(scheduler-extender): drop comment references to the out-of-repo design doc
  images/sds-common-scheduler-extender/pkg/scheduler/extra_pvcs_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v1.3.24, lib-helm 1.72.12
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.10.tgz
  charts/deckhouse_lib_helm-1.72.12.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

changelog: v0.7.0 release
  CHANGELOG/v0.7.0.ru.yml
Due: none

added e2e test for mountinfo Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fixes Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/tests/block_device_host_mountinfo_helpers_test.go
  e2e/tests/block_device_host_mountinfo_test.go
  e2e/tests/cluster_config.ci.yml
  e2e/tests/cluster_config.yml
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/block_device_host_mountinfo_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/tests/block_device_host_mountinfo_helpers_test.go
  e2e/tests/block_device_host_mountinfo_test.go
  e2e/tests/cluster_config.ci.yml
  e2e/tests/cluster_config.yml
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/cfg/config.go
  e2e/tests/block_device_host_mountinfo_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/e2e-tests.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/block_device_host_mountinfo_test.go
  e2e/tests/cluster_config.ci.yml
  e2e/tests/cluster_config.yml
Due: go-generate, go-test-ce, go-test-ee

test(scheduler-extender): rebuild the e2e fixture around disk-sized capacity
  e2e/tests/scheduler_extender_test.go
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

test(scheduler-extender): assert the extender steers a spec.volumes PVC
  e2e/tests/scheduler_extender_test.go
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

test(scheduler-extender): assert steering for a PVC named only in the annotation
  e2e/tests/scheduler_extender_test.go
Due: go-generate, go-test-ce, go-test-ee

test(scheduler-extender): assert the extender blocks an unschedulable spec.volumes PVC
  e2e/tests/scheduler_extender_test.go
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

test(scheduler-extender): assert the extender blocks an unschedulable annotation PVC
  e2e/tests/scheduler_extender_test.go
Due: go-generate, go-test-ce, go-test-ee

docs(e2e): document the four scheduler-extender spec labels
  e2e/E2E_USAGE.md
  e2e/README.md
Due: none

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
