Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

fix(scheduler-extender): close teardown/fixture holes that could turn one red e2e run into a wedged cluster
  e2e/tests/scheduler_extender_test.go
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

fix
  .github/workflows/e2e-tests.yml
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/tests/block_device_host_mountinfo_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/tests/block_device_host_mountinfo_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): drop the BlockDevice force-cleanup calls from the scheduler suite
  e2e/tests/scheduler_extender_test.go
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): assert the cluster is clean instead of cleaning it in BeforeAll
  e2e/tests/scheduler_extender_test.go
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): fix stale comment — BeforeAll asserts, it no longer cleans
  e2e/tests/scheduler_extender_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): build the LocalStorageClass through the storage-e2e SDK
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(scheduler-extender): enhance PVC handling by introducing hint-only tracking for annotations
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/scheduler/extra_pvcs_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

test(e2e): remove stale comments and clarify PVC handling in scheduler extender tests
  e2e/tests/scheduler_extender_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(scheduler-extender): update copyright year to 2025 and improve handling of unresolvable PVCs in extractRequestedSize
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

style(scheduler-extender): restore Apache license headers
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/scheduler/extra_pvcs_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v1.3.25, lib-helm 1.72.13
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.10.tgz
  charts/deckhouse_lib_helm-1.72.13.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

fix(hooks): remove the obsolete LvmVolumeGroupBackup CRD
  crds/doc-ru-lvmvolumegroupbackup.yaml
  crds/lvmvolumegroupbackup.yaml
  hooks/go/025-remove-obsolete-crds/remove-obsolete-crds.go
  hooks/go/025-remove-obsolete-crds/remove-obsolete-crds_test.go
  hooks/go/consts/consts.go
  hooks/go/go.mod
  hooks/go/main.go
  templates/rbac-for-us.yaml
  templates/rbacv2/manage/edit.yaml
  templates/rbacv2/manage/view.yaml
  templates/user-authz-cluster-roles.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

test(e2e): restore the shared name prefixes the file-devices suite depends on
  e2e/tests/helpers_cleanup_test.go
  e2e/tests/lvmvolumegroup_filedevices_consumer_test.go
  e2e/tests/scheduler_helpers_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(crds): declare LVMVolumeGroup status.conditions as a keyed list
  crds/lvmvolumegroup.yaml
Due: none

fix(crds): make the LVMVolumeGroup condition type a required field
  crds/lvmvolumegroup.yaml
Due: none

refactor(lvg): standardize LVMVolumeGroup conditions handling
  api/v1alpha1/lvm_volume_group.go
  crds/doc-ru-lvmvolumegroup.yaml
  crds/lvmvolumegroup.yaml
  images/agent/go.mod
  images/agent/go.sum
  images/agent/internal/controller/lvg/reconciler_test.go
  images/agent/internal/repository/client_lvg.go
  images/controller/cmd/main.go
  images/controller/go.mod
  images/controller/go.sum
  images/controller/internal/const.go
  images/controller/pkg/controller/lvg_conditions_watcher.go
  images/controller/pkg/controller/lvg_conditions_watcher_funcs.go
  images/controller/pkg/controller/lvg_conditions_watcher_test.go
  images/controller/pkg/controller/lvg_ready_verdict_test.go
  images/controller/pkg/controller/sds_infra_watcher.go
  images/controller/pkg/controller/sds_infra_watcher_funcs.go
  images/controller/pkg/controller/sds_infra_watcher_test.go
  templates/controller/rbac-for-us.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

feat: publish status conditions for LLV, LLVS and LVMVolumeGroupSet
  api/v1alpha1/lvm_logical_volume.go
  api/v1alpha1/lvm_logical_volume_snapshot.go
  api/v1alpha1/lvm_volume_group_set.go
  api/v1alpha1/zz_generated.deepcopy.go
  crds/doc-ru-lvmlogicalvolume.yaml
  crds/doc-ru-lvmlogicalvolumesnapshot.yaml
  crds/doc-ru-lvmvolumegroupset.yaml
  crds/lvmlogicalvolume.yaml
  crds/lvmlogicalvolumesnapshot.yaml
  crds/lvmvolumegroupset.yaml
  images/agent/internal/conditions.go
  images/agent/internal/conditions_test.go
  images/agent/internal/const.go
  images/agent/internal/controller/llvs/reconciler_ee.go
  images/agent/internal/repository/client_llv.go
  images/controller/internal/const.go
  images/controller/pkg/controller/lvg_conditions_watcher_test.go
  images/controller/pkg/controller/lvm_volume_group_set_conditions_test.go
  images/controller/pkg/controller/lvm_volume_group_set_watcher.go
Due: go-generate, go-test-ce, go-test-ee

fix(status): truncate condition messages to what the schema allows
  images/agent/internal/conditions.go
  images/agent/internal/conditions_test.go
  images/agent/internal/repository/client_lvg.go
  images/controller/pkg/controller/lvg_conditions_watcher_funcs.go
  images/controller/pkg/controller/lvm_volume_group_set_conditions_test.go
  images/controller/pkg/controller/lvm_volume_group_set_watcher.go
  images/controller/pkg/controller/sds_infra_watcher_funcs.go
Due: go-generate, go-test-ce, go-test-ee

test(conditions): measure the message in runes, as the schema does
  images/agent/internal/conditions_test.go
  images/controller/pkg/controller/lvm_volume_group_set_conditions_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(test): write the multi-byte fixture as an escape
  images/agent/internal/conditions_test.go
  images/controller/pkg/controller/lvm_volume_group_set_conditions_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(status): publish a Consumable condition on BlockDevice
  api/v1alpha1/block_device.go
  api/v1alpha1/zz_generated.deepcopy.go
  crds/blockdevices.yaml
  images/agent/internal/block_device_candidate.go
  images/agent/internal/block_device_consumable_test.go
  images/agent/internal/controller/bd/regression1_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(status): copy the conditions instead of re-pointing at the caller's slice
  images/agent/internal/block_device_candidate.go
  images/agent/internal/block_device_consumable_test.go
Due: go-generate, go-test-ce, go-test-ee

refactor(conditions): drop the module's copy of the shared Pending reason
  images/controller/internal/const.go
  images/controller/pkg/controller/lvg_conditions_watcher_funcs.go
  images/controller/pkg/controller/lvg_ready_verdict_test.go
Due: go-generate, go-test-ce, go-test-ee

changelog: v0.7.0 release
  CHANGELOG/v0.7.0.ru.yml
Due: none

fixes Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/tests/block_device_host_mountinfo_helpers_test.go
  e2e/tests/block_device_host_mountinfo_test.go
  e2e/tests/cluster_config.ci.yml
  e2e/tests/cluster_config.yml
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/e2e-tests.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/cfg/config.go
  e2e/cfg/config_test.go
  e2e/tests/block_device_host_mountinfo_helpers_test.go
  e2e/tests/block_device_host_mountinfo_test.go
  e2e/tests/cluster_config.ci.yml
  e2e/tests/cluster_config.yml
Due: go-generate, go-test-ce, go-test-ee

fix
  e2e/README.md
  e2e/tests/block_device_types_helpers_test.go
  e2e/tests/block_device_types_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/README.md
  e2e/tests/block_device_types_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/block_device_types_helpers_test.go
  e2e/tests/block_device_types_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/README.md
  e2e/cfg/config.go
  e2e/tests/block_device_host_mountinfo_test.go
  e2e/tests/block_device_types_test.go
  e2e/tests/stress_max_vgs_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .gitignore
Due: none

added after rebase Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/tests/cluster_config.ci.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/block_device_host_mountinfo_test.go
Due: go-generate, go-test-ce, go-test-ee
