Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

[internal] add common scheduler-extender e2e tests (#204)
  .github/workflows/build_dev.yml
  .github/workflows/go_checks.yaml
  .github/workflows/trivy_image_check.yaml
  .gitignore
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/README.md
  e2e/manifests/job.yaml
  e2e/manifests/rbac.yaml
  e2e/patches/storage-e2e-reconnect-after-add-nodes.patch
  e2e/tests/cluster_config.yml
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/sds_node_configurator_test.go
  images/sds-common-scheduler-extender/go.mod
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fixed rebase leftovers Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/go_checks.yaml
Due: none

fixed go version Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  images/sds-common-scheduler-extender/go.mod
Due: go-mod-tidy

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/go_checks.yaml
Due: none

[internal] slight fixes for CI (#232)
  .github/workflows/go_checks.yaml
  images/sds-common-scheduler-extender/go.mod
Due: go-mod-tidy

fix(agent): avoid Value calls on temporary quantities
  images/agent/internal/controller/llv/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

chore(ci): align Go module versions and formatting
  api/go.mod
  e2e/go.mod
  images/agent/internal/const.go
  lib/go/common/go.mod
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

ci: avoid readonly workspace caches on self-hosted runners
  .github/workflows/build_dev.yml
  .github/workflows/go_checks.yaml
Due: none

fix(tests): remove unused thin pool helper parameter
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): restore shared test helpers after merge
  e2e/tests/e2e_shared_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): avoid nil cleanup panics in smoke test
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): skip block device cleanup without client
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): retry transient cluster creation failures
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  images/agent/internal/controller/llv/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

fixed lint in consts Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  images/agent/internal/const.go
Due: go-generate, go-test-ce, go-test-ee

fix DMT lint Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .dmtlint.yaml
Due: none

reverted DMT settings Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .dmtlint.yaml
  .github/workflows/build_dev.yml
  e2e/Makefile
  e2e/patches/storage-e2e-reconnect-after-add-nodes.diff
Due: none

fix(e2e): initialize k8s client before disk discovery
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): retry slow VM startup in cluster creation
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): stop requiring manual blockdevice events
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): wait for namespace deletion before retry
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): extend smoke test timeout for cluster retry
  .github/workflows/build_dev.yml
Due: none

fix(e2e): extend CI suite timeout for smoke retries
  e2e/tests/sds_node_configurator_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): retry nested client discovery after EOF
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(e2e): relax shrink LVG readiness wait
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

[internal] fix Go checks in CI (#233)
  .github/workflows/build_dev.yml
  .github/workflows/go_checks.yaml
  e2e/Makefile
  e2e/patches/storage-e2e-reconnect-after-add-nodes.diff
  images/agent/internal/const.go
  images/agent/internal/controller/llv/reconciler_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Fix race condition in LVMVolumeGroup condition updates
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/repository/client_lvg.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Address review feedback: fix Quantity comparison, propagate fresh state, replace debug printf
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/repository/client_lvg.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Fix infinite pvresize loop in LVG reconciler predicate
  images/agent/internal/controller/lvg/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Add unit tests for review feedback changes
  images/agent/internal/controller/llv_extender/reconciler_test.go
  images/agent/internal/controller/lvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Filter non-local LVMVolumeGroup events in predicates
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/controller/lvg/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Guard against zero ExtentSize in LLV reconcilers
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv_extender/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Add ExtentSize to hasLVMVolumeGroupDiff check
  images/agent/internal/controller/lvg/discoverer.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Fix staticcheck QF1008: remove redundant embedded field from selector
  images/agent/internal/controller/lvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

[llv_extender] Remove redundant LVGBelongsToNode check from shouldLLVExtenderReconcileEvent
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/controller/llv_extender/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(agent): add mountinfo parser for mount-point detection
  images/agent/internal/utils/mountinfo.go
  images/agent/internal/utils/mountinfo_test.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Fix race condition and reconciliation loop in LVG/LLV controllers (#218)
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/controller/llv_extender/reconciler_test.go
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/reconciler_test.go
  images/agent/internal/repository/client_lvg.go
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
