Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

fix
  temp/cleanup_orphan_test/cluster-state.json
  temp/cleanup_orphan_test/kubeconfig-10.10.10.7.yml
  temp/cleanup_orphan_test/kubeconfig-94.26.231.181.yml
  temp/sds_node_configurator_test/kubeconfig-94.26.231.181.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  .gitignore
  e2e/go.mod
  e2e/tests/cleanup_orphan_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix (#230)
  .github/workflows/build_dev.yml
  .gitignore
  e2e/E2E_USAGE.md
  e2e/go.mod
  e2e/tests/e2e_cluster_lock_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix(scheduler-extender): prevent double-counting of Failed LLVs with actualSize in available space calculation
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(lvg): include ExtentSize in discoverer diff and add 4Mi fallback in LLV controller
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(llv): remove false-Failed validation when actualSize > spec.size
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Proportional replica scoring and comprehensive tests
  images/agent/internal/const.go
  images/agent/internal/controller/llv/reconciler_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/space_test.go
Due: go-generate, go-test-ce, go-test-ee

tests Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .gitignore
  e2e/Dockerfile
  e2e/README.md
  e2e/config/test_exports_storage_e2e
  e2e/manifests/job.yaml
  e2e/manifests/rbac.yaml
  e2e/temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
  e2e/tests/common_scheduler_suite_test.go
  e2e/tests/common_scheduler_test.go
  temp/common_scheduler_test/cluster-state.json
  temp/common_scheduler_test/kubeconfig-10.10.10.13.yml
  temp/common_scheduler_test/kubeconfig-10.10.10.14.yml
  temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/config/test_exports_storage_e2e
  e2e/temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
  temp/common_scheduler_test/cluster-state.json
  temp/common_scheduler_test/kubeconfig-10.10.10.13.yml
  temp/common_scheduler_test/kubeconfig-10.10.10.14.yml
  temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
Due: none

[agent] Use GetLV instead of cache after LVM mutations to avoid delays
  images/agent/internal/controller/llv_extender/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

fixed duplicate consts and such Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/README.md
  e2e/tests/common_scheduler_suite_test.go
  e2e/tests/common_scheduler_test.go
  e2e/tests/e2e_shared_test.go
  e2e/tests/e2e_suite_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

tests Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/README.md
  e2e/config/test_exports_storage_e2e
  e2e/temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
  e2e/tests/cluster_config.yml
  e2e/tests/common_scheduler_suite_test.go
  e2e/tests/common_scheduler_test.go
  temp/common_scheduler_test/cluster-state.json
  temp/common_scheduler_test/kubeconfig-10.10.10.13.yml
  temp/common_scheduler_test/kubeconfig-10.10.10.14.yml
  temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  .github/workflows/trivy_image_check.yaml
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix
  e2e/E2E_USAGE.md
Due: none

[agent] Fix BlockDeviceFilter crash on In/NotIn with empty values
  images/sds-common-scheduler-extender/go.mod
Due: go-mod-tidy

[agent] Use GetLV instead of cache after LVM mutations to avoid delays
  .gitignore
Due: none

[internal] add e2e tests to CI (#196)
  .github/workflows/go_checks.yaml
  e2e/Makefile
  e2e/README.md
Due: none

added docs Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/README.md
Due: none

test added Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/config/test_exports_storage_e2e
  e2e/temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
  e2e/tests/common_scheduler_suite_test.go
  e2e/tests/common_scheduler_test.go
  temp/common_scheduler_test/cluster-state.json
  temp/common_scheduler_test/kubeconfig-94.26.231.181.yml
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/Makefile
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/E2E_USAGE.md
  e2e/tests/common_scheduler_test.go
  e2e/tests/e2e_shared_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/common_scheduler_test.go
  e2e/tests/e2e_shared_test.go
  e2e/tests/e2e_suite_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix
  e2e/tests/e2e_shared_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/tests/e2e_shared_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/common_scheduler_test.go
  e2e/tests/e2e_suite_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/Dockerfile
  e2e/Makefile
  e2e/README.md
  e2e/patches/storage-e2e-reconnect-after-add-nodes.patch
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/E2E_USAGE.md
  e2e/tests/e2e_shared_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/README.md
  e2e/tests/common_scheduler_test.go
  e2e/tests/e2e_shared_test.go
  e2e/tests/e2e_suite_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix duplicates Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/e2e_shared_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/E2E_USAGE.md
  e2e/tests/e2e_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

fix: remove accidental merge conflict markers in .gitignore and reconciler
  images/agent/internal/controller/llv_extender/reconciler.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/build_dev.yml
  e2e/E2E_USAGE.md
  e2e/Makefile
  e2e/README.md
  e2e/tests/common_scheduler_test.go
  e2e/tests/sds_node_configurator_suite_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

upd
  test
Due: none

fix(e2e): restore missing blockdevice test helpers
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
