Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: go-mod-tidy
        name: Run `go mod tidy` fo all the modules
        language: system
        entry: make go-mod-tidy
        pass_filenames: false
        types:
          - file
        files: ^.*/go\.mod$
      - id: go-generate
        name: Run `go generate ./...` fo all the modules
        language: system
        entry: make go-generate
        pass_filenames: false
        types: [go]
      - id: go-test-ce
        name: Run `go test -tags=ee ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ee
        types: [go]
      - id: go-test-ee
        name: Run `go test -tags=ce ./...` for all the modules
        pass_filenames: false
        language: system
        entry: make go-test-ce
        types: [go]
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.64.5
    hooks:
      # This doesn't work in case `pre-commit run --all-files`
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ee` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ee --fix
      # - id: golangci-lint
      #   name: Run golangci-lint with tag `ce` on change only
      #   entry: ./hack/for-each-mod golangci-lint run --new-from-rev HEAD --build-tags ce --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ee`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ee --fix
      - id: golangci-lint-full
        name: Run golangci-lint with tag `ce`
        entry: ./hack/for-each-mod golangci-lint run --build-tags ce --fix

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .github/workflows/e2e-test.yml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/sds_node_configurator_helpers_cluster_test.go
  e2e/tests/sds_node_configurator_test.go
Due: go-generate, go-test-ce, go-test-ee

Add v0.6.10 changelog
  CHANGELOG/v0.6.10.ru.yml
Due: none

fix(lvg): tolerate extent-sized thin-pool drift
  e2e/tests/sds_node_configurator_test.go
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/reconciler_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(agent): prevent empty blockDeviceSelector when taking existing VG under management
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

chore: sync base-images v0.5.82, Go 1.25.11, lib-helm 1.72.2
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.0.tgz
  charts/deckhouse_lib_helm-1.72.2.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

fix(agent): trigger udevadm after pvcreate/vgcreate to update udev DB
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

fix(agent): harden udevadm trigger plumbing after VG create/extend
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/trigger_udev_test.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Skip rawfile-backed local PVCs
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/func_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
Due: go-generate, go-test-ce, go-test-ee

chore: migrate to container-base v1.0.51 and drop .static binary suffix
  .dmtlint.yaml
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/translate-changelog.yml
  .werf/base-images.yaml
  .werf/bundle.yaml
  .werf/choose-edition.yaml
  .werf/images-digests.yaml
  .werf/images.yaml
  .werf/release.yaml
  Makefile
  images/agent/internal/config/config_test.go
  images/agent/internal/const.go
  images/agent/internal/utils/commands.go
  images/agent/werf.inc.yaml
  images/controller/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-common-scheduler-extender/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
  templates/agent/daemonset.yaml
Due: go-generate, go-test-ce, go-test-ee

chore(dmtlint): exclude e2e/ from no-cyrillic checks
  .dmtlint.yaml
Due: none

chore: sync base-images v0.5.83, Go 1.25.11, lib-helm 1.72.2
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  charts/deckhouse_lib_helm-1.72.0.tgz
  charts/deckhouse_lib_helm-1.72.2.tgz
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-common-scheduler-extender/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
Due: go-mod-tidy

fix(agent): prevent empty blockDeviceSelector when taking existing VG under management (#297)
  images/agent/internal/controller/lvg/discoverer.go
  images/agent/internal/controller/lvg/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(agent): trigger udevadm after pvcreate/vgcreate to update udev DB (#299)
  images/agent/internal/controller/lvg/reconciler.go
  images/agent/internal/controller/lvg/trigger_udev_test.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/commands_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(agent): load dm_snapshot when storage-foundation is enabled
  templates/agent/daemonset.yaml
Due: none

chore(ci): bump container-base to v1.1.2
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
Due: none

chore: migrate to container-base v1.1.2 and drop .static binary suffix (#300)
  .dmtlint.yaml
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/translate-changelog.yml
  .werf/base-images.yaml
  .werf/bundle.yaml
  .werf/choose-edition.yaml
  .werf/images-digests.yaml
  .werf/images.yaml
  .werf/release.yaml
  Makefile
  images/agent/internal/config/config_test.go
  images/agent/internal/const.go
  images/agent/internal/utils/commands.go
  images/agent/werf.inc.yaml
  images/controller/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-common-scheduler-extender/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
  templates/agent/daemonset.yaml
Due: go-generate, go-test-ce, go-test-ee

add log
  images/agent/internal/scanner/scanner.go
Due: go-generate, go-test-ce, go-test-ee

refactor(udev): remove GetBlockDevices method from Commands interface
  images/agent/internal/utils/commands.go
Due: go-generate, go-test-ce, go-test-ee

add pr test
  e2e/tests/cluster_config.yml
Due: none

feat(udev): implement device snapshot functionality and sysfs data provider
  images/agent/internal/scanner/scanner.go
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/resolver.go
  images/agent/internal/udev/resolver_test.go
  images/agent/internal/udev/sysfs.go
  images/agent/internal/udev/sysfs_test.go
Due: go-generate, go-test-ce, go-test-ee

remove test Skip and make log
  e2e/tests/netlink_discovery_test.go
  images/agent/internal/scanner/scanner.go
Due: go-generate, go-test-ce, go-test-ee

refactor(tests): simplify newTestDeviceMap function by removing unused udevDBPath parameter
  images/agent/internal/scanner/scanner.go
  images/agent/internal/udev/devicemap_test.go
Due: go-generate, go-test-ce, go-test-ee

test(udev): skip unimplemented netlink log tests
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

remove(module): delete modulePullOverride from sds-node-configurator
  e2e/tests/cluster_config.yml
Due: none

test(udev): remove skip from udev remove event log test
  e2e/tests/netlink_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(config): add netlink block device discovery feature and related commands
  images/agent/internal/config/config.go
  images/agent/internal/config/config_test.go
  images/agent/internal/utils/commands.go
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
Due: go-generate, go-test-ce, go-test-ee

feat(daemonset): enable netlink block device discovery in configuration
  templates/agent/daemonset.yaml
Due: none

refactor: clean up comments and documentation in device management files
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/resolver.go
  images/agent/internal/udev/sysfs.go
  images/agent/internal/udev/sysfs_test.go
Due: go-generate, go-test-ce, go-test-ee

feat(scanner): implement netlink block device discovery in scanner logic
  images/agent/internal/scanner/scanner.go
Due: go-generate, go-test-ce, go-test-ee

fix space
  images/agent/internal/scanner/scanner.go
Due: go-generate, go-test-ce, go-test-ee

add feature log
  images/agent/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

fix err
  images/agent/internal/scanner/scanner.go
Due: go-generate, go-test-ce, go-test-ee

changelog: v0.6.11 release
  CHANGELOG/v0.6.11.ru.yml
Due: none

feat(scanner): enhance ReadSysfsHotplug to support hotplug detection via ancestor subsystems
  images/agent/internal/udev/sysfs.go
  images/agent/internal/udev/sysfs_test.go
Due: go-generate, go-test-ce, go-test-ee

fix(agent): load dm_snapshot when storage-foundation is enabled (#303)
  templates/agent/daemonset.yaml
Due: none

f
  images/agent/cmd/main.go
Due: go-generate, go-test-ce, go-test-ee

fix(scanner): improve error handling in device map filling process
  images/agent/internal/scanner/scanner.go
Due: go-generate, go-test-ce, go-test-ee

Feat/udev scanner snapshot (#250)
  images/agent/cmd/main.go
  images/agent/internal/config/config.go
  images/agent/internal/config/config_test.go
  images/agent/internal/scanner/scanner.go
  images/agent/internal/udev/devicemap.go
  images/agent/internal/udev/devicemap_test.go
  images/agent/internal/udev/resolver.go
  images/agent/internal/udev/resolver_test.go
  images/agent/internal/udev/sysfs.go
  images/agent/internal/udev/sysfs_test.go
  images/agent/internal/utils/commands.go
  openapi/config-values.yaml
  openapi/doc-ru-config-values.yaml
  templates/agent/daemonset.yaml
Due: go-generate, go-test-ce, go-test-ee
