Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

agent: add METRICS_PORT
  templates/agent/daemonset.yaml
Due: none

remove pvc filter by provisioner
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

improve logging
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

[internal] Delete open tcp ports (#156)
  templates/agent/daemonset.yaml
  templates/agent/podmonitor.yaml
Due: none

use tools, add metadata labels to crd
  api/go.mod
  api/go.sum
  api/v1alpha1/block_device_filter.go
  api/v1alpha1/register.go
  crds/filter/storage.deckhouse.io_blockdevicefilters.yaml
  hack/readme.md
  images/agent/go.mod
  images/agent/go.sum
  images/agent/internal/mock_utils/block_device.go
  images/agent/internal/mock_utils/commands.go
  images/agent/internal/mock_utils/syscall.go
  images/agent/internal/utils/block_device.go
  images/agent/internal/utils/commands.go
  images/agent/internal/utils/syscall.go
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/go.sum
  images/webhooks/go.mod
  images/webhooks/go.sum
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

tools.go workaround has been removed
  api/go.mod
  api/go.sum
  api/tools.go
  images/agent/tools.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

bump to go 1.24.4
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/sds-health-watcher-controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy

spelling
  cspell.config.yaml
  images/agent/internal/controller/bd/discoverer.go
Due: go-generate, go-test-ce, go-test-ee

Revert returned result change
  images/agent/internal/controller/bd/discoverer.go
Due: go-generate, go-test-ce, go-test-ee

Inherited serial and wwn are ignored by resource name generation.
  images/agent/internal/block_device_candidate.go
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_test.go
  images/agent/internal/type.go
Due: go-generate, go-test-ce, go-test-ee

Test for inherited labels
  images/agent/internal/block_device_candidate.go
  images/agent/internal/block_device_candidate_test.go
Due: go-generate, go-test-ce, go-test-ee

Split reusable code
  images/agent/internal/controller/bd/discoverer_native_test.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bd/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

Regression case1 added
  images/agent/internal/controller/bd/case1_test.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bd/testdata/case1_bd_right_naming.json
  images/agent/internal/controller/bd/testdata/case1_lsblk_output.json
Due: go-generate, go-test-ce, go-test-ee

Rename test files back
  images/agent/internal/controller/bd/discoverer_ginkgo_test.go
  images/agent/internal/controller/bd/discoverer_native_test.go
  images/agent/internal/controller/bd/discoverer_test.go
Due: go-generate, go-test-ce, go-test-ee

regression test rename
  images/agent/internal/controller/bd/regression1_test.go
Due: go-generate, go-test-ce, go-test-ee

naming
  images/agent/internal/controller/bd/discoverer.go
Due: go-generate, go-test-ce, go-test-ee

Fix device naming stability with previous version (#157)
  images/agent/internal/block_device_candidate.go
  images/agent/internal/block_device_candidate_test.go
  images/agent/internal/controller/bd/discoverer.go
  images/agent/internal/controller/bd/discoverer_ginkgo_test.go
  images/agent/internal/controller/bd/discoverer_suite_test.go
  images/agent/internal/controller/bd/discoverer_test.go
  images/agent/internal/controller/bd/regression1_test.go
  images/agent/internal/controller/bd/testdata/case1_bd_right_naming.json
  images/agent/internal/controller/bd/testdata/case1_lsblk_output.json
  images/agent/internal/type.go
Due: go-generate, go-test-ce, go-test-ee

[internal] svace integration
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/deploy_dev.yml
  .github/workflows/trivy_image_check.yaml
  .werf/consts.yaml
  .werf/defines/image-build.tmpl
  .werf/images.yaml
  images/go-hooks/werf.inc.yaml
  werf-giterminism.yaml
Due: none

[internal] svace integration
  .werf/defines/packages-proxies.tmpl
Due: none

[internal] svace integration
  werf-giterminism.yaml
Due: none

[internal] svace integration
  images/webhooks/werf.inc.yaml
  werf-giterminism.yaml
Due: none

[internal] svace integration
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/deploy_dev.yml
Due: none

[internal] svace integration
  images/webhooks/werf.inc.yaml
Due: none

[internal] svace integration
  images/sds-health-watcher-controller/werf.inc.yaml
Due: none

[internal] svace integration
  images/agent/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
Due: none

[internal] svace integration
  .werf/consts.yaml
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
Due: none

[internal] svace integration
  .werf/consts.yaml
  .werf/defines/image-build.tmpl
  .werf/defines/packages-clean.tmpl
  .werf/images.yaml
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
Due: none

[internal] svace integration
  .werf/consts.yaml
  .werf/images.yaml
Due: none

fixes Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .werf/choose-edition.yaml
  .werf/consts.yaml
  images/webhooks/werf.inc.yaml
  openapi/values_ee.yaml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  .werf/choose-edition.yaml
  .werf/consts.yaml
  .werf/werf.inc.yaml
Due: none

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  images/webhooks/werf.inc.yaml
Due: none

go mod tidy
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
Due: go-mod-tidy

Make it build:
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

[internal] svace integration
  .werf/images.yaml
Due: none

[CI] Svace integration (#158)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/deploy_dev.yml
  .github/workflows/trivy_image_check.yaml
  .werf/defines/image-build.tmpl
  .werf/defines/packages-clean.tmpl
  .werf/defines/packages-proxies.tmpl
  .werf/images.yaml
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
  werf-giterminism.yaml
Due: none

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
