Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

fix(docs): update descriptions in module.yaml (#188)
  module.yaml
Due: none

add several thinpool for one lvg
  images/sds-common-scheduler-extender/pkg/scheduler/api.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_prioritize.go
Due: go-generate, go-test-ce, go-test-ee

changelog: v0.5.15 release
  CHANGELOG/v0.5.15.ru.yml
Due: none

Translate changelog v0.5.15 to English
  CHANGELOG/v0.5.15.yml
Due: none

[scheduler-extender] Add bind endpoint to clean up volume reservations
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/api.go
  images/sds-common-scheduler-extender/pkg/scheduler/bind_volume.go
  images/sds-common-scheduler-extender/pkg/scheduler/bind_volume_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Remove volume type from API; infer from thinPoolName
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/api.go
  images/sds-common-scheduler-extender/pkg/scheduler/bind_volume.go
  images/sds-common-scheduler-extender/pkg/scheduler/bind_volume_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_prioritize.go
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Refactor cache to pure reservation store
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache_test.go
  images/sds-common-scheduler-extender/pkg/controller/llv_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache_test.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/scheduler/api.go
  images/sds-common-scheduler-extender/pkg/scheduler/bind_volume_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_and_score.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/narrow_reservation.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: go-generate, go-test-ce, go-test-ee

[scheduler-extender] Filter out non-Ready LVGs via extensible isLVGSchedulable check
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
Due: go-generate, go-test-ce, go-test-ee

refactor(cache): remove pools map, use lazy TTL evaluation
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
Due: go-generate, go-test-ce, go-test-ee

fix: resolve linter issues (errcheck, revive, gci, staticcheck, unparam, whitespace)
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/pkg/cache/cache_test.go
  images/sds-common-scheduler-extender/pkg/controller/llv_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/logger/traceid.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_and_score.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/replicated.go
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
Due: go-generate, go-test-ce, go-test-ee

feat(scheduler): add filter-and-score request count to /stat
  images/sds-common-scheduler-extender/pkg/scheduler/route.go
Due: go-generate, go-test-ce, go-test-ee

Add unit tests for filter-and-score and narrow-reservation handlers
  images/sds-common-scheduler-extender/pkg/scheduler/filter_and_score_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler_test_helpers_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/narrow_reservation_test.go
Due: go-generate, go-test-ce, go-test-ee

[agent] Use GetLV instead of cache after LVM mutations to avoid delays
  .gitignore
  images/agent/internal/controller/llv/reconciler.go
  images/agent/internal/controller/llv_extender/reconciler.go
  images/agent/internal/controller/llvs/reconciler_ee.go
Due: go-generate, go-test-ce, go-test-ee

feature(CI): fix OSS source file
  .werf/consts.yaml
  .werf/defines/oss-yaml.tmpl
  .werf/images.yaml
  images/agent/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  oss.yaml
  werf.yaml
Due: none

feature(CI): fix OSS source file
  module.yaml
Due: none

chore: update Go to 1.25.7, base images to v0.5.56
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/controller/go.mod
  images/sds-utils-installer/go.mod
  images/webhooks/go.mod
  lib/go/common/go.mod
Due: go-mod-tidy

chore: update modules-actions to v4
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/deploy_dev.yml
Due: none

chore: migrate golangci-lint config to v2 format
  .golangci.yaml
Due: none

chore: update modules-actions to v4 in go_checks
  .github/workflows/go_checks.yaml
Due: none

fix: resolve go linter issues for CI
  .golangci.yaml
  images/agent/internal/block_device_candidate.go
  images/agent/internal/block_device_candidate_test.go
  images/agent/internal/controller/controller.go
  images/agent/internal/utils/volume_cleanup_ee_test.go
  images/controller/cmd/main.go
  images/controller/config/config.go
  images/controller/pkg/controller/block_device_labels_watcher.go
  images/controller/pkg/controller/lvg_conditions_watcher.go
  images/controller/pkg/controller/lvm_volume_group_set_watcher.go
  images/controller/pkg/controller/sds_infra_watcher.go
Due: go-generate, go-test-ce, go-test-ee

chore: fix OSS source, update Go, base images and linter (#195)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .github/workflows/deploy_dev.yml
  .github/workflows/go_checks.yaml
  .golangci.yaml
  .werf/consts.yaml
  .werf/defines/oss-yaml.tmpl
  .werf/images.yaml
  api/go.mod
  hooks/go/go.mod
  images/agent/go.mod
  images/agent/internal/block_device_candidate.go
  images/agent/internal/block_device_candidate_test.go
  images/agent/internal/controller/controller.go
  images/agent/internal/utils/volume_cleanup_ee_test.go
  images/agent/werf.inc.yaml
  images/controller/cmd/main.go
  images/controller/config/config.go
  images/controller/go.mod
  images/controller/pkg/controller/block_device_labels_watcher.go
  images/controller/pkg/controller/lvg_conditions_watcher.go
  images/controller/pkg/controller/lvm_volume_group_set_watcher.go
  images/controller/pkg/controller/sds_infra_watcher.go
  images/sds-utils-installer/go.mod
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/go.mod
  lib/go/common/go.mod
  module.yaml
  oss.yaml
  werf.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix: remove ModuleConfig modification logic
  images/controller/cmd/main.go
  images/controller/pkg/controller/mc_watcher.go
  templates/controller/rbac-for-us.yaml
Due: go-generate, go-test-ce, go-test-ee

fix: remove ModuleConfig modification logic (#197)
  images/controller/cmd/main.go
  images/controller/pkg/controller/mc_watcher.go
  templates/controller/rbac-for-us.yaml
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/Dockerfile
  e2e/Makefile
  e2e/README.md
  e2e/manifests/job.yaml
  e2e/manifests/rbac.yaml
  e2e/tests/block_device_discovery_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/Makefile
  e2e/tests/block_device_discovery_suite_test.go
  e2e/tests/block_device_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/block_device_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

ЕУЫЕШТП Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/block_device_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/block_device_discovery_suite_test.go
  e2e/tests/block_device_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

fix
  e2e/tests/block_device_discovery_test.go
Due: go-generate, go-test-ce, go-test-ee

fix Signed-off-by: Nikolay Demchuk <nikolay.demchuk@flant.com>
  e2e/tests/block_device_discovery_suite_test.go
Due: go-generate, go-test-ce, go-test-ee

Enhance block device discovery tests with DKP cluster support and logging initialization. Update go.mod to include storage-e2e module.
  e2e/docs/INTEGRATION_STORAGE_E2E.md
  e2e/go.mod
  e2e/tests/block_device_discovery_suite_test.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

chore: add 030-remove-finalizers-on-module-delete hook and update module-sdk to v0.7.0
  hooks/go/030-remove-finalizers-on-module-delete/remove-finalizers-on-module-delete.go
  hooks/go/consts/consts.go
  hooks/go/main.go
Due: go-generate, go-test-ce, go-test-ee

fix: add sds-common-lib and deps for remove-finalizers hook build
  hooks/go/go.mod
  hooks/go/go.sum
Due: go-mod-tidy

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
