Repository deckhouse/sds-node-configurator: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-mod-tidy, go-generate, go-test-ce, go-test-ee

go-mod-tidy:
  name: Run `go mod tidy` fo all the modules
  language: system
  entry: make go-mod-tidy
  pass_filenames: false

go-generate:
  name: Run `go generate ./...` fo all the modules
  language: system
  entry: make go-generate
  pass_filenames: false

go-test-ce:
  name: Run `go test -tags=ee ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ee

go-test-ee:
  name: Run `go test -tags=ce ./...` for all the modules
  pass_filenames: false
  language: system
  entry: make go-test-ce

empry commit
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
Due: go-generate, go-test-ce, go-test-ee

Prepare to CSE build
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .werf/bundle.yaml
  .werf/defines/golang.tmpl
  .werf/defines/packages-proxies.tmpl
  .werf/images.yaml
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
  werf-giterminism.yaml
  werf.yaml
Due: none

Prepare to CSE build
  images/webhooks/werf.inc.yaml
Due: none

Prepare to CSE build
  images/agent/werf.inc.yaml
Due: none

Prepare to CSE build
  images/agent/werf.inc.yaml
  images/webhooks/werf.inc.yaml
Due: none

Prepare to CSE build
  images/agent/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
Due: none

Prepare to CSE build
  .werf/consts.yaml
Due: none

Prepare to CSE build
  api/go.mod
  api/go.sum
  hooks/go/go.mod
  hooks/go/go.sum
  images/agent/go.mod
  images/agent/go.sum
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/go.sum
  images/webhooks/go.mod
  images/webhooks/go.sum
Due: go-mod-tidy

Prepare to CSE build
  templates/agent/daemonset.yaml
Due: none

filterSingleNodeSRV method logic update
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
Due: go-generate, go-test-ce, go-test-ee

item 13781
  images/agent/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
Due: none

item 32505
  .werf/images.yaml
  images/agent/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
Due: none

item 28383
  werf-giterminism.yaml
Due: none

item 22070
  .gitignore
  Makefile
Due: none

item 30654
  .werf/consts.yaml
Due: none

item 29123
  images/agent/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
Due: none

item 27784
  images/agent/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
Due: none

item 5952
  .gitignore
Due: none

item 10188
  images/webhooks/werf.inc.yaml
Due: none

Prepare to CSE build
  images/agent/werf.inc.yaml
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/werf.inc.yaml
Due: none

item 28608
  .werf/choose-edition.yaml
  openapi/values.yaml
Due: none

add LVGWatcherCacheController
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

fix LVGLayerResourceIDsWatcherName
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
Due: go-generate, go-test-ce, go-test-ee

add rbac
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
Due: none

item 31514
  .werf/choose-edition.yaml
Due: none

Prepare to CSE build
  .werf/choose-edition.yaml
  openapi/values.yaml
  openapi/values_ee.yaml
Due: none

fix name
  hooks/go/consts/consts.go
  templates/sds-common-scheduler-extender/deployment.yaml
  templates/sds-common-scheduler-extender/secret.yaml
Due: go-generate, go-test-ce, go-test-ee

fix 2
  hooks/go/020-common-scheduler-extender-certs/common-scheduler-extender-certs.go
  hooks/go/consts/consts.go
Due: go-generate, go-test-ce, go-test-ee

add kube-scheduler to deployment
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

Revert "add kube-scheduler to deployment"
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
Due: none

remove quote
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
Due: none

logging error fix
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
Due: go-generate, go-test-ce, go-test-ee

[internal] Update lib-helm version for correct priority class settings
  charts/deckhouse_lib_helm-1.41.0.tgz
  charts/deckhouse_lib_helm-1.59.0.tgz
Due: none

Prepare to CSE build (#150)
  .github/workflows/build_dev.yml
  .github/workflows/build_prod.yml
  .gitignore
  .werf/bundle.yaml
  .werf/choose-edition.yaml
  .werf/consts.yaml
  .werf/defines/golang.tmpl
  .werf/defines/packages-proxies.tmpl
  .werf/images.yaml
  Makefile
  api/go.mod
  api/go.sum
  hooks/go/go.mod
  hooks/go/go.sum
  images/agent/go.mod
  images/agent/go.sum
  images/agent/werf.inc.yaml
  images/go-hooks/werf.inc.yaml
  images/sds-health-watcher-controller/go.mod
  images/sds-health-watcher-controller/go.sum
  images/sds-health-watcher-controller/werf.inc.yaml
  images/sds-utils-installer/werf.inc.yaml
  images/webhooks/go.mod
  images/webhooks/go.sum
  images/webhooks/werf.inc.yaml
  openapi/values.yaml
  templates/agent/daemonset.yaml
  werf-giterminism.yaml
  werf.yaml
Due: go-mod-tidy

[internal] Update lib-helm version for correct priority class settings (#151)
  charts/deckhouse_lib_helm-1.41.0.tgz
  charts/deckhouse_lib_helm-1.59.0.tgz
Due: none

add logging
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
Due: go-generate, go-test-ce, go-test-ee

[internal] add sds common scheduler extender
  hooks/go/030-common-scheduler-extender-certs/common-scheduler-extender-certs.go
  hooks/go/main.go
  images/sds-common-scheduler-extender/LICENSE
  images/sds-common-scheduler-extender/cmd/access_log.go
  images/sds-common-scheduler-extender/cmd/main.go
  images/sds-common-scheduler-extender/go.mod
  images/sds-common-scheduler-extender/go.sum
  images/sds-common-scheduler-extender/pkg/cache/cache.go
  images/sds-common-scheduler-extender/pkg/cache/cache.md
  images/sds-common-scheduler-extender/pkg/cache/manager.go
  images/sds-common-scheduler-extender/pkg/consts/consts.go
  images/sds-common-scheduler-extender/pkg/controller/layer_resource_ids_watcher.go
  images/sds-common-scheduler-extender/pkg/controller/lvg_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/controller/pvc_watcher_cache.go
  images/sds-common-scheduler-extender/pkg/kubutils/kubernetes.go
  images/sds-common-scheduler-extender/pkg/logger/logger.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter.go
  images/sds-common-scheduler-extender/pkg/scheduler/filter_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/filter_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/func.go
  images/sds-common-scheduler-extender/pkg/scheduler/handler.go
  images/sds-common-scheduler-extender/pkg/scheduler/middleware.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize.go
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_doc.md
  images/sds-common-scheduler-extender/pkg/scheduler/prioritize_test.go
  images/sds-common-scheduler-extender/pkg/scheduler/sheduler.go
  images/sds-common-scheduler-extender/pkg/scheduler/types.go
  images/sds-common-scheduler-extender/pkg/test.go
  images/sds-common-scheduler-extender/werf.inc.yaml
  openapi/values.yaml
  openapi/values_ce.yaml
  templates/sds-common-scheduler-extender/configmap.yaml
  templates/sds-common-scheduler-extender/deployment.yaml
  templates/sds-common-scheduler-extender/kube-scheduler-webhook-configuration.yaml
  templates/sds-common-scheduler-extender/rbac-for-us.yaml
  templates/sds-common-scheduler-extender/secret.yaml
  templates/sds-common-scheduler-extender/service.yaml
Due: go-mod-tidy, go-generate, go-test-ce, go-test-ee

Path conditions:
  go-mod-tidy: any of: ^.*/go\.mod$
  go-generate: any of: \.go$
  go-test-ce: any of: \.go$
  go-test-ee: any of: \.go$
